.idea/
.vscode/
*/.gradle/
*/build/
*/.idea/
*/src/generated/
*/bin/
**/*.mv.db
**/*.trace.db

identityprovider/user-content/

.envrc
*/src/main/java/nz/ac/canterbury/seng302/identityprovider/model/database/
/identityprovider/defaultAdminPassword.txt
