<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/stylesheet.css}" rel="stylesheet">

    <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/evidenceFormHandler.js}"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div th:fragment="commitSearch">

    <!-- commitSearch Section which includes 1. heading, 2. expanding information and 3. bottom -->
    <div class="col-lg-10 col-md-12 col-sm-12">

        <!-- 1. commitSearch heading that will always show to select a group from dropdown -->
        <div class="row-1 commit_search_top" style="display:flex;">
            <div class="col-4">
                <p class="bio evidence_head"> Link Group: </p>
            </div>
            <div class="col-3.5">
                <select class="project_edit_data horizontal_field">
                    <option value="They/Them">They/Them</option>
                </select>
<!--                <select class="project_edit_data horizontal_field"-->
<!--                        id="user_group_dropdown" th:name="user_group_dropdown" th:value="*{user_group_dropdown}">-->
<!--                    <option value="They/Them">They/Them</option>-->
<!--                </select>-->
            </div>
        </div>

        <!-- 2. commitSearch information that can be expanded or collapsed depending on if there's a repo -->
        <div class="row-1">
        </div>

        <!-- 3.. commitSearch bottom that will display information if there is NOT a repo -->
        <div class="row-1">
            <div class="commit_search_bot">
                <br>
            </div>
        </div>

    </div>

</div>
<!-- End of commitSearch fragment -->

</body>
</html>
