<!DOCTYPE html>
<html lang="en">
<head th:fragment="headerfiles">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/stylesheet.css}" rel="stylesheet">

    <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/evidenceFormHandler.js}"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:fragment="evidenceItems" id="evidence_item_list">
    <div class="row" th:each="evidence: ${evidenceList}">

        <div class="col-1">
        </div>


        <!-- Evidence Section which includes 1. heading, 2. infom and 3. bottom -->
        <div class="col-lg-10 col-md-12 col-sm-12">

            <!-- 1. evidence heading  -->
            <div class="row-1 evidence_top" style="display:flex;">

                <div class="col-4">
                    <p class="bio evidence_head" th:text="${evidence.getTitle}"/>
                </div>
                <div class="col-3.5">
                    <p class="bio evidence_date" th:text="${evidence.getDate}"/>
                </div>
                <div th:id="'evidence_ci_'+${evidence.getId}" class="col-4" style="padding-top: 0.65rem; padding-left: 1rem">
                </div>
                <div class="col-0.5" >
                    <a class="btn float-end" data-toggle="collapse" th:href="'#collapseExample'+${evidence.getId}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-2x fa-arrow-down alignRight" aria-hidden="true"></i>
                    </a>
                </div>

            </div>

            <!-- 2. evidence information that can be expanded or collapsed  -->
            <div class="row-1">
                <div class="collapse evidence_data no-gutters" th:id="'collapseExample'+${evidence.getId}">
                    <div>

                        <p id="description" class="sprint-description evidence_text" th:text="${evidence.getDescription}"/>

                        <p class="bio evidence_head">Skills </p>
                        <div th:id="'evidence_si_'+${evidence.getId}" style="width: 100%">
                        </div>

                        <p class="bio evidence_head" th:if="${evidence.getLinks().size() > 0}">Links </p>
                        <div th:id="'evidence_links_'+${evidence.getId}" th:if="${evidence.getLinks().size() > 0}" style="width: 100%">
                            <div class="row" th:each="link: ${evidence.getLinks()}">

                                <div id="links_container" style="width: 85%; display: block; padding: 0.5rem 2rem">
                                    <div class="trim_text" style="display: flex">
                                        <i class="fa fa-lock" aria-hidden="true" style="padding-top: 0.35rem"></i>
                                        <a th:id="'evidence_links_text_'+${link.getUrl.toString()}"
                                           th:text="${link.getUrlWithoutProtocol}"
                                           th:href="${link.getUrl.toString()}"
                                           target="_blank"
                                           class="sprint-description display_data evidence_link trim_text"
                                           style="font-size: 110%;
                                               display: inline-block;">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <br>
                </div>
            </div>

            <!-- 3.. evidence bottom  -->
            <div class="row-1">
                <div class="evidence_bot">
                    <br>
                </div>
            </div>

        </div>

        <div class="col-2">
        </div>

        <div class="col-4">

            <br>
            <br>

        </div>

    </div>
    <script th:inline="javascript">
        function addTagToEvidence(value, evidenceId, type) {
            let newItem = document.createElement("button");
            newItem.className = "table_text evidence_" + type + "_tag"
            newItem.innerText = value
            newItem.value = value
            newItem.onclick = function() {window.location.href = "evidence?" + type + "=" + value}
            let itemRow = document.getElementById("current_row_" + type)
            itemRow.appendChild(newItem);
            if (itemRow.getBoundingClientRect().right < newItem.getBoundingClientRect().right) {
                itemRow.removeChild(newItem);
                addTagRowToEvidence(evidenceId, type)
                itemRow.appendChild(newItem);
            }
        }

        /* Creates a new row for skill tags to be placed on, for some reason inserting <br> couldn't do this*/
        function addTagRowToEvidence(evidenceId, type) {
            if (document.getElementById("current_row_" + type) !== null ) {
                document.getElementById("current_row_" + type).id = ""
            }
            let newRow = document.createElement("div");
            newRow.id = "current_row_" + type
            document.getElementById("evidence_" + type + "_" + evidenceId).appendChild(newRow)
        }

        skillMap = [[${skillMap}]]
        for (const evidence of [[${evidenceList}]]) {
            addTagRowToEvidence(evidence.id, "si")
            for (const evidenceSkill of skillMap[evidence.id]) {
                addTagToEvidence(evidenceSkill, evidence.id, "si")
            }
        }

        categoryMap = [[${categoryMap}]]
        for (const evidence of [[${evidenceList}]]) {
            addTagRowToEvidence(evidence.id, "ci")
            for (const evidenceCategory of categoryMap[evidence.id].sort()) {
                addTagToEvidence(evidenceCategory, evidence.id, "ci")
            }
        }
    </script>
</div>
</body>
</html>