<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/stylesheet.css}" rel="stylesheet">

    <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div th:fragment="evidenceForm">


        <div class="portion_body" >
        <form>
                <div class="row-1" style="display:flex;">
                        <div class="evidence_form_element col-4">
                            <b class="evidence_head setWide">Title*:</b><br> <input type="text" class="project_edit_data">
                        </div>
                        <div class="evidence_form_element col-3">
                            <b class="evidence_head setWide">Date*:</b> <br><input type="date" class="project_edit_data">
                        </div>
                        <div class="evidence_form_element align-content-center col-5">
                            <!-- https://bbbootstrap.com/snippets/multiselect-dropdown-list-83601849# -->
                            <b class="evidence_head setWide">Category:</b><br>
                            <select id="evidence_category" class="project_edit_data" multiple>
                                <option class="optionSelect" value="Quantitative skills">&nbsp;&nbsp;Quantitative skills</option>
                                <option value="Qualitative skills">&nbsp;&nbsp;Qualitative skills</option>
                                <option value="Service">&nbsp;&nbsp;Service</option>
                            </select>
                        </div>
                </div>
                    <br>
                    <br>
                    <br>

                <div class="row-1">
                    <div>
                        <b class="evidence_head setWide">Description*:</b><br> <textarea type="text" class=" description-input project_edit_data horizontal_field bio setWide"></textarea>
                    </div>
                    <div class="col-12">
                        <b class="evidence_head setWide">Skills:</b><br> <input type="text" class="evidence_form_element_wide project_edit_data">
                    </div>
                    <div class="col-12">
                        <b class="evidence_head setWide">Links:</b><br> <input type="text" class="evidence_form_element_wide project_edit_data">
                    </div>
                </div>
        </form>

        </div>



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

</div>
</body>
</html>