<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Evidence')">
<body>
<div th:fragment="evidenceItems" id="evidence_item_list">
    <div class="row" th:each="evidence: ${evidenceList}">

        <div class="col-1">
        </div>


        <!-- Evidence Section which includes 1. heading, 2. infom and 3. bottom -->
        <div class="col-lg-10 col-md-12 col-sm-12">

            <!-- 1. evidence heading  -->
            <div class="row-1 evidence_top" style="display:flex;">

                <div class="col-4">
                    <p class="bio evidence_head" th:text="${evidence.getTitle}" th:id="${evidence.getId()}"/>
                </div>
                <div class="col-3.5">
                    <p class="bio evidence_date" th:text="${evidence.getDate}"/>
                </div>
                <div th:id="'evidence_ci_'+${evidence.getId}" class="col-4" style="padding-top: 0.65rem; padding-left: 1rem">
                </div>
                <div class="col-0.5" >
                    <a class="btn float-end" data-toggle="collapse" th:id="${'ArrowButton' + evidence.getId()}" th:href="'#collapseExample'+${evidence.getId}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-2x fa-arrow-down alignRight" aria-hidden="true"></i>
                    </a>
                </div>

            </div>

            <!-- 2. evidence information that can be expanded or collapsed  -->
            <div class="row-1">
                <div class="collapse evidence_data no-gutters" th:id="'collapseExample'+${evidence.getId}">
                    <div>

                        <p class="bio evidence_title" th:if="${evidence.getEvidenceUsersId().size() > 0}">Contributors </p>
                        <div class="d-flex flex-row flex-wrap" th:id="'evidence_contributors_'+${evidence.getId}" th:if="${evidence.getEvidenceUsersId().size() > 0}" style="width: 100%">
                            <!-- These are doubled up to show the author first, then the contributors after  -->
                            <div class="p-2" th:each="user: ${evidence.getEvidenceUsersId()}" th:if="${evidence.getParentUserId == user.getUserid()}">
                                <div id="authors_container" style="width: 85%; display: block;">
                                    <a th:id="${'contributor_' + user.getUsername()}" class="table_text author_tag" th:text="${user.getUsername()}" th:href="@{account(id=${user.getUserid()})}" ></a>
                                </div>
                            </div>
                            <div class="p-2" th:each="user: ${evidence.getEvidenceUsersId()}" th:if="${evidence.getParentUserId != user.getUserid()}">
                                <div id="contributors_container" style="width: 85%; display: block;">
                                    <a th:id="${'contributor_' + user.getUsername()}" class="table_text contributor_tag" th:text="${user.getUsername()}" th:href="@{account(id=${user.getUserid()})}"></a>
                                </div>
                            </div>
                        </div>

                        <p class="bio evidence_title">Description </p>
                        <p id="description" class="evidence_text" style="padding: 0.5rem 0.5rem" th:text="${evidence.getDescription}"/>

                        <p class="bio evidence_title">Skills </p>
                        <div th:id="'evidence_si_'+${evidence.getId}" style="width: 100%">
                        </div>

                        <p class="bio evidence_title" th:if="${evidence.getLinks().size() > 0}">Links </p>
                        <div class="row" th:id="'evidence_links_'+${evidence.getId}" th:if="${evidence.getLinks().size() > 0}" style="width: 100%">
                            <div th:each="link: ${evidence.getLinks()}">

                                <div id="links_container" style="width: 85%; display: block; padding: 0.5rem 2rem">
                                    <div class="trim_text" style="display: flex">
                                        <i th:if="${link.isSecure}" class="fa fa-lock" th:id="'locked'+${link.getUrl.toString()}" aria-hidden="true" style="padding-top: 0.35rem"></i>
                                        <i th:unless="${link.isSecure}" class="fa fa-unlock" th:id="'unlocked'+${link.getUrl.toString()}" aria-hidden="true" style="padding-top: 0.35rem"></i>
                                        <a th:id="'evidence_links_text_'+${link.getUrl.toString()}"
                                           th:text="${link.getUrlWithoutProtocol}"
                                           th:href="${link.getUrl.toString()}"
                                           target="_blank"
                                           class="sprint-description display_data evidence_link trim_text"
                                           style="font-size: 110%;
                                               display: inline-block;">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                        <p class="bio evidence_title" th:if="${!evidence.getLinkedCommit().isEmpty()}">Commits </p>
                        <div class="row" th:id="${'commit_list_' + evidence.getId}">
                            <div th:each="commit: ${evidence.getLinkedCommit}" style="width: 85%; display: block; padding: 0.5rem 3rem">
                                <div th:id="${commit.getHash}" class="row">
                                    <div class="row commit_display_smaller" th:text="${'[' + commit.getHash + ']'}"></div>
                                    <div class="row commit_display_large" th:text="${commit.getTitle}"></div>
                                    <div class="row commit_display_small" th:text="${'(' + commit.getAuthor + ') ' + '(' + commit.getTimeStamp + ')'}"></div>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row-1" style="display: flex">
                        <form th:if="${evidence.getParentUserId() == userId}" th:action="@{edit-evidence}" method="get">
                            <input style="display:none;" th:name="id" th:value="${evidence.getId()}" type="number">
                            <button
                                    th:id="${'editButton' + evidence.getId()}"
                                    class="fa fa-edit edit_evidence"
                                    type="submit"></button>
                        </form>
                        <button
                                th:if="${evidence.getParentUserId() == userId}"
                                type="button" th:style="${displayDeleteButton}" th:value="${evidence.getId()}"
                                th:id="${'deleteButton' + evidence.getId()}" data-toggle="modal"
                                th:data-target="${'#deleteModal'+evidence.getId()}"
                                class="fa fa-trash delete_evidence"></button>
                        <div id="high_five_container" style="width:100%; text-align: right">
                            <button th:id="${'highFiveButton' + evidence.getId()}"
                                    class="high_five fa fa-hand-paper-o fa-2x" th:value="${evidence.getId()}"
                                    type="submit" onclick="toggleHighFive(this)"
                                    onload="displayHighFiveStatus(this)">
                            </button>
                        </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" th:id="${'deleteModal'+evidence.getId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" th:id= "${'exampleModalLongTitle'+evidence.getId()}"  th:text="${'Delete - ' + evidence.getTitle()+ '?' }">Delete?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body"
                                     th:text="${'Are you sure you want to delete this piece of evidence (' + evidence.getTitle()+ ') from your portfolio?'}"
                                />
                                <form method="post" th:action="@{delete-evidence}">
                                    <div class="modal-footer">
                                        <input type="number" th:name="evidenceId" th:value="${evidence.getId()}" style="display: none">
                                        <input type="number" th:name="userID" th:value="${userId}" style="display: none">
                                        <input type="number" th:name="projectId" th:value="${evidence.getAssociatedProject().getId()}" style="display: none">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelButton">Cancel</button>
                                        <button type="submit" class="btn btn-primary bg-danger" id="deleteButton" >Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 3.. evidence bottom  -->
            <div class="row-1">
                <div class="evidence_bot">
                    <br>
                </div>
            </div>
            <br>
        </div>

        <div class="col-2">
        </div>

        <div class="col-4">
        </div>
        <br>
    </div>
    <script th:inline="javascript">
        function addTagToEvidence(value, evidenceId, type) {
            let newItem = document.createElement("button");
            newItem.className = "table_text evidence_" + type + "_tag"
            newItem.innerText = value
            newItem.value = value
            newItem.onclick = function() {window.location.href = "evidence?" + type + "=" + value}
            let itemRow = document.getElementById("current_row_" + type)
            itemRow.appendChild(newItem);
            if (itemRow.getBoundingClientRect().right < newItem.getBoundingClientRect().right) {
                itemRow.removeChild(newItem);
                addTagRowToEvidence(evidenceId, type)
                itemRow.appendChild(newItem);
            }
        }

        /* Creates a new row for skill tags to be placed on, for some reason inserting <br> couldn't do this*/
        function addTagRowToEvidence(evidenceId, type) {
            if (document.getElementById("current_row_" + type) !== null ) {
                document.getElementById("current_row_" + type).id = ""
            }
            let newRow = document.createElement("div");
            newRow.id = "current_row_" + type
            document.getElementById("evidence_" + type + "_" + evidenceId).appendChild(newRow)
        }

        skillMap = [[${skillMap}]]
        for (const evidence of [[${evidenceList}]]) {
            addTagRowToEvidence(evidence.id, "si")
            for (const evidenceSkill of skillMap[evidence.id]) {
                addTagToEvidence(evidenceSkill, evidence.id, "si")
            }
        }

        categoryMap = [[${categoryMap}]]
        for (const evidence of [[${evidenceList}]]) {
            addTagRowToEvidence(evidence.id, "ci")
            for (const evidenceCategory of categoryMap[evidence.id].sort()) {
                addTagToEvidence(evidenceCategory, evidence.id, "ci")
            }
        }

        function displayHighFiveStatus(event) {
            highFiveList = [[${highFiveList}]]
            if (event.value in highFiveList) {
                document.getElementById("highFiveButton" + event.value).className = "high_five fa fa-sign-language fa-2x";
            }
        }

        highFiveList = [[${highFiveList}]]
        for (const evidenceId of highFiveList) {
            document.getElementById("highFiveButton" + evidenceId).className = "high_five fa fa-sign-language fa-2x";
        }

        function toggleHighFive(event) {
            $.post("high-five", {evidenceId: event.value}).done(function (result) {
                if (result === "added") {
                    document.getElementById("highFiveButton" + event.value).classList.remove("high_five.fa.fa-hand-paper-o.fa-2x");
                    document.getElementById("highFiveButton" + event.value).className = "high_five fa fa-sign-language fa-2x";
                }
                if (result === "deleted") {
                    document.getElementById("highFiveButton" + event.value).classList.remove("high_five.fa.fa-sign-language.fa-2x");
                    document.getElementById("highFiveButton" + event.value).className = "high_five fa fa-hand-paper-o fa-2x";
                }
            })
        }
    </script>
    <br>
</div>
</body>
</html>
