<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/stylesheet.css}" rel="stylesheet">

    <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/evidenceFormHandler.js}"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>


<div th:fragment="evidenceCommit" style="display:flex;">

    <!-- Start of commit section of the form, which includes the 1. current commits, 2. add commits -->
        <!-- 1. Current Commit -->
        <div class="col-6">
            <b class="evidence_head setWide">Current Commits:</b>
        </div>

        <!-- 2. Add Commit -->
        <div class="col-6">
            <b class="evidence_head setWide">Add Commits:</b>

            <div>
                <div class="row-1 commit_top" style="display:flex;">
                    <a class="btn commit_text float-end" data-toggle="collapse" th:id="${'ArrowButtonCommit'}" th:href="'#collapseCommit'" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <b class="commit_head">Linked Group:</b>
                    </a>
                    <select class="commit_edit_data"  id="commit_group" th:name="commit_group" >
                    <option value=" "> </option>
                    <option value="ExampleGroupA">ExampleGroupA</option>
                    <option value="ExampleGroupB">ExampleGroupB</option>
                    <option value="ExampleGroupC">ExampleGroupC</option>
                    </select>
                </div>

                <!-- 2. evidence information that can be expanded or collapsed  -->
                <div class="row-1">
                    <div class="collapse commit_data no-gutters" th:id="'collapseCommit'">
                        <div>
                            Test Text To Show Stuff Off
                        </div>
                        <br>
                    </div>
                </div>

                <!-- 3.. evidence bottom  -->
                <div class="row-1">
                    <div class="commit_bot">
                        <br>
                    </div>
                </div>
            </div>
        </div>


</div>

</body>
</html>
