<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/stylesheet.css}" rel="stylesheet">

    <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div th:fragment="evidenceSearch">

        <form class="row-1 portion_body_tall" th:action="@{search-evidence}" style="display:flex;" >

                        <div class="evidence_form_element col-5">
                            <div class="slight_pad">
                            <!-- https://bbbootstrap.com/snippets/multiselect-dropdown-list-83601849# -->
                            <b class="evidence_head setWide">Category:</b><br>
                            <select id="ci" th:name="ci"  onclick="resetElement('si')" class="project_edit_data setWide">
                                <option value="" selected disabled> Choose here</option>
                                <option value=0>&nbsp;&nbsp;Quantitative skills</option>
                                <option value=1>&nbsp;&nbsp;Qualitative skills</option>
                                <option value=2>&nbsp;&nbsp;Service</option>
                            </select>
                        </div>
                        </div>
                        <div class="evidence_form_element col-6">
                            <div class="slight_pad">
                            <!-- https://bbbootstrap.com/snippets/multiselect-dropdown-list-83601849# -->
                            <b class="evidence_head setWide">Skill:</b><br>
                            <select id="si" th:name="si" onclick="resetElement('ci')" class="project_edit_data setWide">
                                <option value="" selected disabled> Choose here</option>
                                <div th:each="skill: ${skillList}"><option th:value="${skill.getId}" th:text="${skill.getTitle}"> </option><div>
                            </select>
                            </div>
                        </div>
                        <div class="evidence_form_element align-content-center col-1">
                            <button class="search" type="submit"><i class="fa fa-search"></i></button>
                        </div>
        </form>
    <script type="text/javascript" th:inline="javascript">
        function resetElement(element_id){

            document.getElementById(element_id).selectedIndex = "";
        }
    </script>
</div>
</body>
</html>
