<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/stylesheet.css}" rel="stylesheet">

    <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/evidenceFormHandler.js}"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>


<div th:fragment="evidenceCommit" style="display:flex;">

    <!-- Start of commit section of the form, which includes the 1. current commits, 2. add commits -->
        <!-- 1. Current Commit -->
        <div class="col-6">
            <b class="evidence_head setWide">Current Commits:</b>

            <div style="display: flex">

                <!-- 3. List of all the links the user added from the input field -->
                <div id="commit_container" style="width: 85%; display: block">
                    <input type="hidden" id="commitInput" th:name="commitInput">
                </div>

            </div>
        </div>

        <!-- 2. Add Commit -->
        <div class="col-6">
            <b class="evidence_head setWide">Add Commits:</b>
            <form id="commitSearchForm" method="post">
            <div>
                <div class="row-1 commit_top" style="display:flex;">
                    <a class="btn commit_text float-end" data-toggle="collapse" th:id="${'ArrowButtonCommit'}" th:href="'#collapseCommit'" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <b class="commit_head">Link Group:</b>
                    </a>
                    <select class="commit_edit_data"  id="commit_group" th:name="commit_group" >
                    <option value=" "> </option>
                    <option value="ExampleGroupA">ExampleGroupA</option>
                    <option value="ExampleGroupB">ExampleGroupB</option>
                    <option value="ExampleGroupC">ExampleGroupC</option>
                    </select>
                </div>

                <!-- 2. evidence information that can be expanded or collapsed  -->
                <div class="row-1">

                    <div class="collapse commit_data no-gutters" th:id="'collapseCommit'">
                        <div>
                            <div class="row-1" style="display:flex;">
                                <div class="col-6" >
                                    <b class="commit_head_small setWide">User:</b><br>
                                    <input form="commitSearchForm" type="text" id="userCommitInput" maxlength="100" class="commit_edit_data_smaller" th:name="userCommitInput" >
                                </div>
                                <div class="col-6" >
                                    <b class="commit_head_small setWide">Hash:</b><br>
                                    <input form="commitSearchForm" type="text" id="hashCommitInput" maxlength="100" class="commit_edit_data_small" th:name="hashCommitInput" >
                                </div>
                            </div>
                            <div class="row-1">
                                <div class="align-content-center col-12">
                                    <b class="commit_head_small">Sprint:</b><br>
                                    <select form="commitSearchForm"  id="commit_sprint_multiselect_items" class="commit_edit_data_small">
                                        <option value="" selected disabled> Select A Sprint</option>
                                        <option value="Quantitative Skills">&nbsp;&nbsp;Quantitative skills</option>
                                        <option value="Qualitative Skills">&nbsp;&nbsp;Qualitative skills</option>
                                        <option value="Service">&nbsp;&nbsp;Service</option>
                                    </select>
                                </div>
                                <input type="hidden" form="commitSearchForm" id="commit_sprint_hidden" th:name="commit_sprint_hidden">
                            </div>
                            <div class="row-1">
                                <div id="date_container" class="col-12" >
                                    <b class="commit_head_small">Date:</b> <br>
                                    <div style="display:flex;">
                                        <input form="commitSearchForm" type="date" th:name="dateInput" th:value="${date}"
                                               th:attr="min=${project.getStartDateStringHtml()}, max=${project.getEndDateStringHtml()}"
                                               class="commit_edit_data" id="commit_date_start_input"
                                        >
                                        <b class="commit_head"> - </b> <br>
                                        <input form="commitSearchForm" type="date" th:name="dateInput" th:value="${date}"
                                               th:attr="min=${project.getStartDateStringHtml()}, max=${project.getEndDateStringHtml()}"
                                               class="commit_edit_data" id="commit_date_end_input"
                                        >
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row-1" >
                                <div class="evidence_form_element align-content-center col-12">
                                    <button id="searchCommit" data-toggle="collapse" th:href="'#collapseCommitSearch'" form="commitSearchForm" class="searchCommit" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <br><br>
                            <div class="row-1">
                                <div class="collapse commit_data no-gutters commit_search_result_body" th:id="'collapseCommitSearch'">
                                    <br>
                                    <div id="commit_search_result_box">
                                    Example Text To Show Commits
                                    </div>
                                    <br>
                                </div>
                            </div>


                        </div>
                        <br>
                    </div>
                </div>

                <!-- 3.. evidence bottom  -->
                <div class="row-1">
                    <div class="commit_bot">
                        <br>
                    </div>
                </div>
            </div>
            </form>
        </div>


</div>

</body>
</html>
