<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet">

     <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>


<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>

        <!-- Profile Data -->

        <div class="row">

            <div class="col-lg-2 col-m-1 col-2"></div>

            <div class="col-lg-7 col-md-8 col-sm-12  portion_body">
                <p class="profile_head">Your Profile</p>

                <div>
                    <p class="profile_subhead">Username</p>
                    <div class="profile_data">
                        <p class="data"><span th:text="${username}" ></span></p>
                    </div>
                </div>


                <div>
                    <p class="profile_subhead">Full name</p>
                    <div class="profile_data">
                        <p class="data"><span th:text="${name}" ></span></p>
                    </div>
                </div>


                <div>
                    <p class="profile_subhead">Email Address</p>
                    <div class="profile_data">
                        <p class="data"><span th:text="${email}" ></span></p>
                    </div>
                </div>


                <div>
                    <p class="profile_subhead">Nickname</p>
                    <div class="profile_data">
                        <p class="data"><span th:text="${nickname}" ></span></p>
                    </div>
                </div>


                <div>
                    <p class="profile_subhead">Pronouns</p>
                    <div class="profile_data">
                        <p class="data"><span th:text="${pronouns}" ></span></p>
                    </div>
                </div>


                <div>
                    <p class="profile_subhead">Bio</p>
                    <div class="profile_data">
                        <p class="bio"><span th:text="${bio}" ></span></p>
                    </div>
                </div>

                <div>
                    <p class="profile_subhead">Roles</p>
                    <div class="profile_data">
                        <p class="data"><span th:text="${roles}" ></span></p>
                    </div>
                </div>

            </div>

            <!-- Edit Profile Button -->

            <div class="col-lg-1 col-md-2 col-sm-8 col-7 align-items-end">

                <button class="edit_wide" type="button">
                    <a class="button_a" th:href="@{'/edit-account'}">EDIT PROFILE</a>
                </button>
            </div>


            <div class="col-2"></div>

        </div>

        <div class="row-1">
            <br><br><br>
        </div>

    </div>
</div>



<!-- JS -->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
