<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Account')"></head>
<body>


<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>

        <!-- Profile Data -->

        <div class="row">

            <!-- Profile photo display and form Submission for editing -->
            <div class="col-lg-3 col-md-2 col-sm-3 col-2 align-items-end text-center" style="text-align:center;">
                <img class="img-fluid rounded-circle border border-primary rounded-circle" th:src="@{${photo}}" width=200em height=200em alt="">

                <!-- Edit Profile Buttons -->
                <div class="row px-md-5 justify-content-start constrain-overflow">
                    <br><br>

                    <div class="col-7">
                        <form th:action="@{edit-account}" method="get">
                            <input style="display:none;" th:name="id" id="id" type="number">
                            <button class="edit_wide" style="padding-top:0rem;" type="submit">
                                EDIT PROFILE
                            </button>
                        </form>
                    </div>

                    <div class="col-7">
                    <form th:action="@{edit-password}" method="get">
                        <input style="display:none;" th:name="id" id="id" type="number">
                        <button class="edit_wide" style="padding-top:0rem;" type="submit">
                            EDIT PASSWORD
                        </button>
                    </form>
                    </div>

                    <div class="col-7">
                    <form th:action="@{edit-photo}" method="get">
                        <input style="display:none;" th:name="id" id="id" type="number">
                        <button class="edit_wide" style="padding-top:0rem;" type="submit">
                            EDIT PHOTO
                        </button>
                    </form>
                    </div>

                </div>

            </div>

            <div class="col-lg-7 col-md-8 col-sm-12  portion_body">

                <p class="profile_head">Your Profile</p>

                <div>
                    <p class="profile_subhead">Username</p>
                    <div class="profile_data">
                        <p class="data"><span th:text="${username}" ></span></p>
                    </div>
                </div>


                <div>
                    <p class="profile_subhead">Full name</p>
                    <div class="profile_data">
                        <p id="full-name" class="data"><span th:text="${name}" ></span></p>
                    </div>
                </div>


                <div>
                    <p class="profile_subhead">Email Address</p>
                    <div class="profile_data">
                        <p class="data"><span th:text="${email}" ></span></p>
                    </div>
                </div>


                <div>
                    <p class="profile_subhead">Nickname</p>
                    <div class="profile_data">
                        <p class="data"><span th:text="${nickname}" ></span></p>
                    </div>
                </div>


                <div>
                    <p class="profile_subhead">Pronouns</p>
                    <div class="profile_data">
                        <p class="data"><span th:text="${pronouns}" ></span></p>
                    </div>
                </div>


                <div>
                    <p class="profile_subhead">Bio</p>
                    <div class="profile_data">
                        <p class="bio"><span th:text="${bio}" ></span></p>
                    </div>
                </div>

                <div>
                    <p class="profile_subhead">Roles</p>
                    <div class="profile_data">
                        <p class="data"><span th:text="${roles}" ></span></p>
                    </div>
                </div>

            </div>

            <!-- View Evidence Button -->
            <div class="col-lg-1 col-md-2 col-sm-8 col-7 align-items-end">

                <form th:action="@{evidenceList}" method="get">
                    <input style="display:none;" th:name="ui" id="ui" type="number" th:value="${userId}">
                    <button class="edit_wide" style="padding-top:0rem;" type="submit">
                        VIEW EVIDENCE
                    </button>
                </form>

            </div>


            <div class="col-2"></div>

        </div>

        <div class="row-1">
            <br><br><br>
        </div>

    </div>
</div>



<!-- JS -->
<script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>
