<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Edit Sprint')"></head>
<body>



<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>

        <!-- Editing heading -->

        <div class="row-1">

            <div class="col-12">
                <p class="body_title_large">Edit Sprint</p>
            </div>

        </div>

        <!-- Editing body -->


        <form class="row" id="eventForm" th:action="@{edit-sprint}" method="post">

            <div class="col-2"></div>

            <div class="col-lg-7 col-md-8 col-sm-12 portion_body">
                <label class="project_subhead" id="eventNameLabel" for="eventName">Sprint Name</label> <br/>
                <input class="project_edit_data horizontal_field" id="eventName" type="text" th:name="sprintName" th:value="*{sprint.getName}">
                <br/>
                <div class="horizontal-group">
                    <div class="horizontal-group-element" >
                        <label class="project_subhead" id="eventStartDateLabel" for="eventStartDate">Sprint Start Date</label> <br/>
                        <input class="project_edit_data" id="eventStartDate" type="date" th:attr="min=${projectStart}, max=${projectEnd}" th:name="sprintStartDate" th:value="*{sprint.getStartDateStringHtml}">
                    </div>
                    <div class="horizontal-group-element" >
                        <label class="project_subhead" id="eventEndDateLabel" for="eventEndDate">Sprint End Date</label> <br/>
                        <input class="project_edit_data" id="eventEndDate" type="date" th:attr="min=${projectStart}, max=${projectEnd}" th:name="sprintEndDate" th:value="*{sprint.getEndDateStringHtml}">
                    </div>
                </div>
                <div>
                    <label class="project_subhead" id="eventDescriptionLabel" for="eventDescription">Sprint Description</label> <br/>
                    <textarea class="description-input project_edit_data horizontal_field bio" id="eventDescription" th:name="sprintDescription" th:text="*{sprint.getDescription}"></textarea>
                </div>


                <input style="display:none;" th:name="projectId" id="projectId" th:value="${sprint.getParentProjectId}" type="number">
                <input style="display:none;" th:name="sprintId" id="sprintId" th:value="${sprint.getId}" type="number">


            </div>

            <!-- Form Submission -->

            <div class="col-lg-1 col-md-2 col-sm-8 col-7 align-items-end">

                <button class="cancel" type="button">
                    <a class="button_a" th:href="@{details(id=${project.getId})}">CANCEL</a>
                </button>
                <button class="save" type="submit">SAVE</button>
            </div>


            <div class="col-2"></div>

        </form>
        <br>

        <div class="row">

            <div class="col-2"></div>

            <div class="col-lg-7 col-md-8 col-sm-12">

                <button class="login_box "th:style="${errorShow}">
                    <p class="login_error" th:text="${errorCode}"/>
                </button>

            </div>

            <div class="col-2"></div>


        </div>

        <div class="row-1">
            <br><br><br>
        </div>

    </div>
</div>



<!-- JS -->
<script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    let editType = "editing Sprint: " + [[${sprint.getName()}]]
    function sendEditStatus() {
        axios.post("edit", null, {params:{"projectId":[[${project.getId()}]], "type":editType}})
        setTimeout(sendEditStatus, 1250)
    }

    sendEditStatus()
</script>
</body>
</html>
