<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Edit Group')"></head>
<body onload="updateTitleLong();updateTitleShort();">



<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>


        <!-- Signup Form -->
        <form class="row" th:action="@{modifyGroup(id=${id})}" method="post">

            <div class="col-lg-2 col-m-1 col-2"></div>

            <div class="col-lg-7 col-md-8 col-sm-12 portion_body">
                <div>
                    <label class="project_subhead" onload="updateTitleLong()" >Long Name*:</label>
                    <input oninput="updateTitleLong()"  class="project_edit_data horizontal_field" id="longName" type="text" th:name="longName" th:value="*{longName}" maxlength="50" title="Long Name can be a max of 50 characters" required><br/>
                    <label class="project_inputAlertBlue" id="maxLen">Characters Remaining: 50</label>
                </div>

                <div>
                    <label class="project_subhead">Short Name*:</label>
                    <input oninput="updateTitleShort()" onload="updateTitleShort()" class="project_edit_data horizontal_field"  id="shortName" th:name="shortName" th:value="*{shortName}" maxlength="10" title="Short Name can be a max of 10 characters" required><br/>
                    <label class="project_inputAlertBlue" id="maxLenShort">Characters Remaining: 10</label>
                </div>

                <div>
                    <label class="project_subhead">Repo Alias:</label>
                    <input onKeyUp="updateCount('repoAlias', 60, 'aliasCount')" class="project_edit_data horizontal_field"  id="repoAlias" th:name="repoAlias" th:value="*{repoAlias}" maxlength="60" title="Repo alias can be a max of 60 characters"><br/>
                    <p id="aliasCount"></p>
                </div>

                <div>
                    <label class="project_subhead">Repo Owner:</label>
                    <input onKeyUp="updateCount('repoOwner', 60, 'ownerCount')" class="project_edit_data horizontal_field"  id="repoOwner" th:name="repoOwner" th:value="*{repoOwner}" maxlength="60" title="Repo owner can be a max of 60 characters"><br/>
                    <p id="ownerCount"></p>
                </div>

                <div>
                    <label class="project_subhead">Repo Name:</label>
                    <input onKeyUp="updateCount('repoName', 60, 'nameCount')" class="project_edit_data horizontal_field"  id="repoName" th:name="repoName" th:value="*{repoName}" maxlength="60" title="Repo name can be a max of 60 characters"><br/>
                    <p id="nameCount"></p>
                </div>

                <div>
                    <label class="project_subhead">Gitlab API Key:</label>
                    <input
                            onKeyUp="updateCount('apiKey', 60, 'apiKeyCount')"
                            class="project_edit_data horizontal_field"
                            id="apiKey"
                            th:name="apiKey"
                            th:value="*{apiKey}"
                            maxlength="60"
                            title="Api Key can be a max of 60 characters"
                    ><br/>
                    <p id="apiKeyCount"></p>
                </div>
            </div>

            <!-- Buttons -->
            <div class="col-lg-1 col-md-2 col-sm-8 col-7 align-items-end text-center" style="text-align:center;">

                <button id="signup-button" class="save" type="submit">SAVE CHANGES</button>


                <button class="cancel" type="button">
                    <a  class="button_a " th:href="@{group?id={id}(id=${groupId})}">CANCEL</a>
                </button>

            </div>



            <div class="col-2"></div>

        </form>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" th:inline="javascript">
            /**
             * Updates the number of characters remaining for the title based on the current event type and title length
             */
            function updateTitleLong() {
                let maxLen = 50;

                document.getElementById("longName").maxLength = maxLen;
                let titleVal = (document.getElementById("longName"));
                let titleLen = titleVal.value.length;

                if ((maxLen - titleLen) < 0) {
                    document.getElementById("maxLen").innerHTML = "Your title is " + (Math.abs(maxLen - titleLen)).toString() + " characters too long";
                    document.getElementById("maxLen").classList.add('project_inputAlertRed');
                    document.getElementById("maxLen").classList.remove('project_inputAlertBlue');
                } else {
                    document.getElementById("maxLen").innerHTML = "Characters Remaining: " + (maxLen - titleLen).toString();
                    document.getElementById("maxLen").classList.add('project_inputAlertBlue');
                    document.getElementById("maxLen").classList.remove('project_inputAlertRed');
                }

            }
            function updateTitleShort() {
                let maxLen = 10;

                document.getElementById("shortName").maxLength = maxLen;
                let titleVal = (document.getElementById("shortName"));
                let titleLen = titleVal.value.length;

                if ((maxLen - titleLen) < 0) {
                    document.getElementById("maxLenShort").innerHTML = "Your title is " + (Math.abs(maxLen - titleLen)).toString() + " characters too long";
                    document.getElementById("maxLenShort").classList.add('project_inputAlertRed');
                    document.getElementById("maxLenShort").classList.remove('project_inputAlertBlue');
                } else {
                    document.getElementById("maxLenShort").innerHTML = "Characters Remaining: " + (maxLen - titleLen).toString();
                    document.getElementById("maxLenShort").classList.add('project_inputAlertBlue');
                    document.getElementById("maxLenShort").classList.remove('project_inputAlertRed');
                }

            }
        </script>

        <br>

        <div class="row">

            <div class="col-2"></div>

            <div class="col-7 text-center ">


                <button class="signup_box" th:style="${errorShow}">
                    <p class="signup_error" th:text="${errorCode}"/>
                </button>

                <button class="signup_box_green" th:style="${successShow}">
                    <p class="signup_error_green" th:text="${successCode}"/>
                </button>


            </div>

            <div class="col-3"></div>


        </div>

        <div class="row-1">
            <br><br><br>
        </div>
    </div>
</div>


<!-- JS -->
<script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{js/countCharactersRemaining.js}"></script>
<script>
    updateCount("longName", 50, "longCount")
    updateCount("shortName", 10, "shortCount")
    updateCount("aliasCount", 60, "aliasCount")
    updateCount("nameCount", 60, "nameCount")
    updateCount("ownerCount", 60, "ownerCount")
    updateCount("apiKeyCount", 60, "apiKeyCount")
</script>
</body>
</html>
