<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Edit Password')"></head>
<body>



<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>

        <!-- Editing heading -->

        <div class="row-1">

            <div class="col-12">
                <p class="body_title_large">Edit Password</p>
            </div>

        </div>

        <!-- Editing body -->


        <form class="row" th:action="@{/edit-password}" method="post">

            <div class="col-2"></div>

            <div class="col-7 portion_body">

                <br>
                <div>
                    <label class="project_subhead" for="currentPassword">Current Password</label> <br/>
                    <input class="project_edit_data horizontal_field" id="currentPassword" type="password" th:name="currentPassword" th:value="*{currentPassword}">
                </div>

                <br>
                <div>
                    <label class="project_subhead" for="newPassword">New Password</label> <br/>
                    <input class="project_edit_data horizontal_field" id="newPassword" type="password"
                           th:name="newPassword" th:value="*{newPassword}">
                </div>

                <br>
                <div>
                    <label class="project_subhead" for="passwordConfirm">Password Confirm</label> <br/>
                    <input class="project_edit_data horizontal_field" id="passwordConfirm" type="password"
                           onkeyup="checkNewPassword()" th:name="passwordConfirm" th:value="*{passwordConfirm}">
                </div>

                <br>
            </div>

            <!-- Form Submission -->

            <div class="col-1 align-items-end">

                <button class="cancel" type="button">
                    <a class="button_a" th:href="@{'/account'}">CANCEL</a>
                </button>
                <button class="save" type="submit">CHANGE PASSWORD</button>
            </div>


            <div class="col-2"></div>

        </form>

        <br>

        <div class="row">

            <div class="col-2"></div>

            <div class="col-7 text-center ">


                <button class="signup_box" th:style="${passwordErrorShow}">
                    <p class="signup_error" th:text="${passwordSuccessCode}"/>
                </button>

                <button class="signup_box_green" th:style="${passwordSuccessShow}">
                    <p class="signup_error_green" th:text="${passwordSuccessCode}"/>
                </button>


            </div>

            <div class="col-3"></div>


        </div>

        <div class="row-1">
            <br><br><br>
        </div>

    </div>
</div>

<!-- JS to check that the newPassword and passwordConfirm match-->
<script>
    function checkNewPassword(){
        var newPassword = document.getElementById("newPassword");
        var passwordConfirm = document.getElementById("passwordConfirm");
        if(passwordConfirm.value !== newPassword.value) {
            passwordConfirm.setCustomValidity("The passwords don't match");
            passwordConfirm.reportValidity();
            event.preventDefault(); // so the form submission doesn’t go through.

        } else {
            passwordConfirm.setCustomValidity('');
        }
    }
</script>

<!-- JS -->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
