<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet">
    <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>



<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>

        <!-- Editing heading -->

        <div class="row-1">

            <div class="col-12">
                <p class="body_title_large">Edit Account</p>
            </div>

        </div>

        <!-- Editing body -->


        <form class="row" th:action="@{/edit-account}" method="post">

            <div class="col-2"></div>

            <div class="col-7 portion_body">

                <div>
                    <p class="edit_profile">Your Profile</p>
                </div>
                <div>
                    <p class="project_subhead">Username</p>
                    <p class="project_edit_data horizontal_field" th:text="${username}" />
                </div>
                <div>
                    <label class="project_subhead" for="pronouns">Pronouns</label> <br/>
                    <select class="project_edit_data horizontal_field"  id="pronouns" th:name="pronouns" th:value="*{pronouns}">
                        <option value="He/Him">He/Him</option>
                        <option value="She/Her">She/Her</option>
                        <option value="They/Them">They/Them</option>
                    </select>
                </div>
                <br>
                <div>
                    <label class="project_subhead" for="nickname">Nickname</label> <br/>
                    <input class="project_edit_data horizontal_field" id="nickname" type="text" th:name="nickname" th:value="*{nickname}">
                </div>
                <br>
                <label class="project_subhead" for="email">Email</label> <br/>
                <input class="project_edit_data horizontal_field" id="email" type="email" th:name="email" th:value="*{email}">
                <br>
                <div class="horizontal-group">
                    <div class="horizontal-group-element" >
                        <label class="project_subhead" for="username">First Name</label> <br/>
                        <input class="project_edit_data horizontal_field" id="username" type="text" th:name="firstname" th:value="*{firstname}">
                    </div>
                    <div class="horizontal-group-element" >
                        <label class="project_subhead" for="lastname">Last Name</label> <br/>
                        <input class="project_edit_data horizontal_field" id="lastname" type="text" th:name="lastname" th:value="*{lastname}">
                    </div>
                </div>
                <div>
                    <label class="project_subhead" for="bio">Bio</label> <br/>
                    <textarea class="description-input project_edit_data horizontal_field bio" id="bio" th:name="bio" th:text="*{bio}"></textarea>
                </div>
                <div>
                    <label class="project_subhead" for="currentPassword">Current Password</label> <br/>
                    <input class="project_edit_data horizontal_field" id="currentPassword" type="password" th:name="currentPassword" th:value="*{currentPassword}">
                </div>
                <div class="horizontal-group">
                    <div class="horizontal-group-element" >
                        <label class="project_subhead" for="newPassword">New Password</label> <br/>
                        <input class="project_edit_data horizontal_field" id="newPassword" type="password" th:name="newPassword" th:value="*{newPassword}">
                    </div>
                    <div class="horizontal-group-element" >
                        <label class="project_subhead" for="passwordConfirm">Password Confirm</label> <br/>
                        <input class="project_edit_data horizontal_field" id="passwordConfirm" type="password" th:name="passwordConfirm" th:value="*{passwordConfirm}">
                    </div>
                </div>
            </div>

            <!-- Form Submission -->

            <div class="col-1 align-items-end">

                <button class="cancel" type="button">
                    <a class="button_a" th:href="@{'/account'}">CANCEL</a>
                </button>
                <button class="save" type="submit">SAVE</button>
            </div>


            <div class="col-2"></div>

        </form>

        <br>

        <div class="row">

            <div class="col-2"></div>

            <div class="col-7 text-center ">


                <button class="signup_box" th:style="${passwordErrorShow}">
                    <p class="signup_error" th:text="${passwordSuccessCode}"/>
                </button>

                <button class="signup_box_green" th:style="${passwordSuccessShow}">
                    <p class="signup_error_green" th:text="${passwordSuccessCode}"/>
                </button>


            </div>

            <div class="col-3"></div>


        </div>
        <br>
        <div class="row">

            <div class="col-2"></div>

            <div class="col-7 text-center ">


                <button class="signup_box" th:style="${editErrorShow}">
                    <p class="signup_error" th:text="${editSuccessCode}"/>
                </button>

                <button class="signup_box_green" th:style="${editSuccessShow}">
                    <p class="signup_error_green" th:text="${editSuccessCode}"/>
                </button>


            </div>

            <div class="col-3"></div>


        </div>

        <div class="row-1">
            <br><br><br>
        </div>

    </div>
</div>

<!-- JS to check that the passwords and passwordConfirm match-->
<script>
    const password = document.getElementById("newPassword");
    const passwordConfirm = document.getElementById("passwordConfirm");

    function checkPassword(){
        if(passwordConfirm.value !== password.value) {
            passwordConfirm.setCustomValidity("The passwords don't match");
        } else {
            passwordConfirm.setCustomValidity('');
        }
    }

    password.onchange = checkPassword;
    passwordConfirm.onkeyup = checkPassword;
</script>

<!-- JS -->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
