<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Edit Evidence')"></head>
<body>

<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>

<script type="text/javascript" th:src="@{js/evidenceFormHandler.js}"></script>

<div class="container">
    <p class="body_title_large" id="title" th:text="${title}"></p>
    <div class="portion_body" id="evidence_form">
        <form th:action="@{edit-evidence}" method="post">
            <p style="display:none;" id="title_error">Title must contain at least two non-symbol characters or be a single emoji</p>
            <div class="row-1" style="display:flex;">
                <div class="evidence_form_element col-4">
                    <b class="evidence_head setWide">Title*:</b><br> <input type="text" id="evidence_title" maxlength="100" th:value="${evidence.getTitle}" class="project_edit_data" th:name="titleInput" oninput="updateTitle(); canEditCheck();" required>
                    <br>
                    <label class="project_inputAlertBlue" id="titleCharCount" th:text="${'Characters Remaining: ' + (100 - evidence.getTitle().length)}"></label>
                </div>
                <div id="date_container" class="evidence_form_element col-3">
                    <div style="display: flex">
                        <b class="evidence_head">Date*:</b> <br>
                        <i id="evidence_date_tool" class="fa fa-question-circle-o" style="padding-left: 0.2em; font-size: 200%"></i>
                    </div>
                    <p style="display:none;" id="date_error">Date must be within the range of the project</p>
                    <input type="date" th:value="${evidence.getDate}" th:name="dateInput"
                           th:attr="min=${project.getStartDateStringHtml()}, max=${project.getEndDateStringHtml()}"
                           class="project_edit_data" id="date_input"
                           oninput="dateCheck(); canEditCheck()" required
                    >
                </div>
                <div class="evidence_form_element align-content-center col-5">
                    <b class="evidence_head setWide">Category:</b><br>
                    <div id="evidence_category" class="project_edit_data" onclick="showCategories()">
                        Select Categories
                    </div>
                    <div id="category_multiselect_items" class="category_box" style="display: none">
                        <label for="category_quantitative" class="category_item" style="display: block">
                            <input type="checkbox" autocomplete="off" class="category_item" value="Quantitative Skills" id="category_quantitative" onchange="updateCategories(this); canEditCheck()"/>
                            Quantitative Skills
                        </label>
                        <label for="category_qualitative" class="category_item" style="display: block">
                            <input type="checkbox" autocomplete="off" class="category_item" value="Qualitative Skills" id="category_qualitative" onchange="updateCategories(this); canEditCheck()"/>
                            Qualitative Skills
                        </label>
                        <label for="category_service" class="category_item" style="display: block">
                            <input type="checkbox" autocomplete="off" class="category_item" value="Service" id="category_service" onchange="updateCategories(this); canEditCheck()"/>
                            Service
                        </label>
                    </div>
                </div>
                <input type="hidden" id="category_hidden" th:name="categoryInput">
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="row-1">
                <div>
                    <b class="evidence_head setWide">Description*:</b>
                    <p style="display:none;" id="description_error">Description must contain at least two non-symbol characters or be a single emoji</p>
                    <textarea type="text" maxlength="2000" id="evidence_desc" th:text="${evidence.getDescription}"
                              class=" description-input project_edit_data horizontal_field bio setWide"
                              th:name="descriptionInput"
                              oninput="updateDesc(); canEditCheck()"
                              required
                    ></textarea>
                    <label class="project_inputAlertBlue" id="descCharCount" th:text="${'Characters Remaining: ' + (2000 - evidence.getDescription().length)}"></label>
                </div>
                <!-- When enter is pressed, default form action is to submit the first button. As our form contains buttons, this empty button exists to consume the default action. -->
                <button onclick="return false;" style="display: none"></button>

                <!-- Start of users section of the form-->
                <div class="row-1">
                    <b class="evidence_head setWide" id="users_input">Users:</b>
                    <p style="display:none;" id="user_error">You must select a currently registered User</p>
                </div>
                <div class="col-12" id="users_div" style="display: flex; justify-content: center; align-items: center;">
                    <!-- Style for padding and margin here place the button inside the input, and ensure text won't collide with button -->
                    <div class="evidence_form_element_wide">
                        <div class="autocomplete evidence_form_element_wide">
                            <input type="hidden" id="userHidden" th:name="userInput">
                            <input type="text" autocomplete="off" id="add_user_input" maxlength=65 class="evidence_form_element_wide project_edit_data" oninput="updateUsers(); canEditCheck()" onchange="canEditCheck()">
                            </input>
                        </div>
                    </div>
                    <button id="add_user_button" type="button" style="margin-left: 1em" class="table_text user_role_table" th:text="Add" onclick="canEditCheck()"></button>
                </div>
                <label class="project_inputAlertBlue" id="userCharCount" style="padding-left: 5px">Characters Remaining: 65</label>
                <br>
                <div id="users_container" style="width: 100%">
                    <div id="user_sub_1" style="display: flex; width: 100%"></div>
                </div>

                <!-- Start of skills section of the form-->
                <div class="row-1">
                    <b class="evidence_head setWide" id="skills_input">Skills:</b>
                    <p style="display:none;" id="skill_error">Only letters, underscores, hyphens, and numbers are allowed. No more than 50 characters. No duplicates allowed.</p>
                </div>
                <div class="col-12" id="skills_div" style="display: flex; justify-content: center; align-items: center;">
                    <!-- Style for padding and margin here place the button inside the input, and ensure text won't collide with button -->
                    <div class="evidence_form_element_wide">
                        <div class="autocomplete evidence_form_element_wide">
                            <input type="hidden" id="skillHidden" th:name="skillInput">
                            <input type="text" autocomplete="off" id="add_skill_input" maxlength=100 class="evidence_form_element_wide project_edit_data" oninput="updateSkills();">
                            </input>
                        </div>
                    </div>
                    <button id="add_skill_button" type="button" style="margin-left: 1em" class="table_text user_role_table" th:text="Add" onclick="canEditCheck()"></button>
                </div>
                <label class="project_inputAlertBlue" id="skillCharCount" style="padding-left: 5px">Characters Remaining: 50</label>
                <br>
                <div id="skills_container" style="width: 100%">
                </div>

                <!-- Start of link section of the form, which includes the 1. "Links" title, 2. input, and 3. list of inputted links -->
                <div class="col-12">
                    <!-- 1. "Links" title-->
                    <b class="evidence_head setWide" id="links_input">Links:</b>
                    <p style="display:none;" id="link_error">Link is not valid, please ensure link includes http(s):// protocol</p>

                    <!-- 2. Input field where user can add links -->
                    <div class="col-12" id="links_div" style="display: flex; justify-content: center; align-items: center;">
                        <!-- Style for padding and margin here place the button inside the input, and ensure text won't collide with button -->
                        <input type="text" id="add_link_input" class="evidence_form_element_wide project_edit_data">
                        <button id="add_link_button" type="button" style="margin-left: 1em" class="table_text user_role_table" onclick="addLink(); return false; canEditCheck()" th:text="Add"></button>
                        </input>
                    </div>
                    <br>

                    <!-- 3. List of all the links the user added from the input field -->
                    <div id="links_container" style="width: 85%; display: block">
                    </div>

                    <br>

                    <div th:replace="fragments/evidenceCommit.html :: evidenceCommit"></div>

                    <input type="hidden" id="evidenceId" th:name="evidenceId" th:value="${evidence.getId}">
                    <input type="hidden" id="projectId" th:name="projectId" th:value="${evidence.getAssociatedProject.getId}">
                    <input type="hidden" id="linksInput" th:name="linksInput">
                    <input type="hidden" id="skillDeleteInput" th:name="skillDeleteInput">
                    <input type="hidden" id="skillEditInput" th:name="skillEditInput">
                    <input type="hidden" id="skillNewInput" th:name="skillNewInput">

                    <div id="links_and_submit" style="display: flex">
                        <div style="width: 85%; display: block">
                        </div>

                        <div id="submit_and_cancel" style="width: 15%; display: block; justify-content: left">
                            <button class="cancel_edit_evidence"><a th:href="@{evidence}" id="cancelButton" type="button" style="text-align: center; color: #FFFFFF;">CANCEL</a></button>
                            <button class="save_edit_evidence" id="projectSave" type="submit" style="background-color: #AAAAAA;" disabled>SAVE</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript" th:src="@{js/autocomplete.js}"></script>
        <script type="text/javascript" th:src="@{js/evidenceFormHandler.js}"></script>

        <script th:inline="javascript">

            // Changes the text of a link to an input provided by the user
            // Changes the edit button to a save button
            function editLink(event) {
                link = document.getElementById("link_" + event.target.value)
                editingLink = document.createElement("input")
                editingLink.id = "link_edit_" + event.target.value
                editingLink.className = "evidence_form_element_wide project_edit_data"
                editingLink.type = "text"
                editingLink.value = event.target.value

                // Replace old link with new link
                link.parentNode.replaceChild(editingLink, link)

                saveButton = document.createElement("button");
                saveButton.className = "fa fa-check each_link_save"
                saveButton.id = "save_" + event.target.value
                saveButton.value = event.target.value
                saveButton.onclick = saveLink;

                event.target.parentNode.replaceChild(saveButton, event.target)
                return false;
            }

            // Use the data from the edit link input textbox to overwrite a link
            function saveLink(event) {
                editedLink = document.getElementById("link_edit_" + event.target.value)

                let newLink = document.createElement("a");
                newLink.id = "link_" + editedLink.value
                newLink.className = "sprint-description display_data text_button trim_text"
                newLink.style.fontSize = "110%"
                newLink.width = "90% !important"
                newLink.style.display = "inline-block"
                newLink.target = "_blank"
                newLink.innerText = editedLink.value
                newLink.href = editedLink.value

                let linkDelete = document.createElement("button");
                linkDelete.className = "fa fa-trash each_link_delete"
                linkDelete.value = editedLink.value
                linkDelete.onclick = removeLink;
                linkDelete.id = "delete_" + editedLink.value

                oldDelete = document.getElementById("delete_" + event.target.value)

                let editButton = document.createElement("button");
                editButton.className = "fa fa-edit each_link_edit"
                editButton.value = editedLink.value
                editButton.id = "edit_" + editedLink.value
                editButton.onclick = editLink;

                oldSave = document.getElementById("save_" + event.target.value)

                // TODO Change to conform to usual style
                if (!validateLink(editedLink.value)) {
                    alert('Link is not valid, please ensure link includes http(s):// protocol');
                    return false;
                }

                oldDelete.parentNode.replaceChild(linkDelete, oldDelete)
                oldSave.parentNode.replaceChild(editButton, oldSave)
                editedLink.parentNode.replaceChild(newLink, editedLink)

                links.delete(event.target.value)
                links.add(editedLink.value)

                storeLinks()

                return false;
            }

            // Override the append link to add the edit button
            function appendLink(linkText) {
                let linkBox = document.createElement("div");
                linksContainer.appendChild(linkBox)
                linkBox.className = "trim_text"
                linkBox.style.display = "flex"
                let newLink = document.createElement("a");
                newLink.id = "link_" + linkText
                newLink.className = "sprint-description display_data text_button trim_text"
                newLink.style.fontSize = "110%"
                newLink.width = "90% !important"
                newLink.style.display = "inline-block"
                newLink.target = "_blank"
                newLink.innerText = linkText
                newLink.href = linkText
                let linkDelete = document.createElement("button");
                linkDelete.className = "fa fa-trash each_link_delete"
                linkDelete.value = linkText
                linkDelete.onclick = removeLink;
                linkDelete.id = "delete_" + linkText
                let linkEdit = document.createElement("button");
                linkEdit.className = "fa fa-edit each_link_edit"
                linkEdit.value = linkText
                linkEdit.id = "edit_" + linkText
                linkEdit.onclick = editLink;
                linkBox.appendChild(newLink)
                linkBox.appendChild(linkEdit)
                linkBox.appendChild(linkDelete)
                storeLinks()
            }

            let allUsers = [[${allUsers}]];
            let imagePrefix = [[${photoPrefix}]];
            autocomplete(document.getElementById("add_user_input"), allUsers, "user");

        // Override the append skills to add the edit button
        function appendSkill(skillTextBase, isOriginal) {
            let skillText;
            let skillId;
            if (isOriginal) {
                skillText = skillTextBase.split(":")[1]
                skillId = skillTextBase.split(":")[0]
            } else {
                skillText = skillTextBase
            }
            skills.add(skillText)
            let skillBox = document.createElement("div");
            document.getElementById("skills_container").appendChild(skillBox)
            skillBox.className = "trim_text"
            skillBox.style.display = "flex"

            let newSkill = document.createElement("button");
            newSkill.id = "skill_" + skillText
            newSkill.className = "evidence_si_tag"
            newSkill.style.fontSize = "110%"
            newSkill.width = "90% !important"
            newSkill.style.display = "inline-block"
            newSkill.innerText = skillText
            newSkill.value = skillText
            newSkill.onclick = editSkill;
            // this original tag lets us know if the skill was an original skill and what it was
            if (isOriginal) {
                newSkill.setAttribute("original", skillId)
            }

            let skillDelete = document.createElement("button");
            skillDelete.className = "fa fa-trash each_link_delete"
            skillDelete.value = skillText
            skillDelete.onclick = removeSkill;
            skillDelete.id = "delete_" + skillText

            let skillEdit = document.createElement("button");
            skillEdit.className = "fa fa-edit each_link_edit"
            skillEdit.value = skillText
            skillEdit.id = "edit_" + skillText
            skillEdit.onclick = editSkill;
            skillBox.appendChild(newSkill)
            skillBox.appendChild(skillEdit)
            skillBox.appendChild(skillDelete)

            storeSkills()

            return false;
        }

        // Delete a skill from a piece of evidence, or from the new skill set
        function removeSkill(event) {
            parent = event.target.parentNode
            skill = document.getElementById("skill_" + event.target.value)
            original = skill.getAttribute("original")
            // this original tag lets us know if the skill was an original skill and what it was
            if (skill.getAttribute("original")) {
                deletedSkills.add(original)
                loopAndDeleteEdited(original)
            } else {
                newSkills.delete(event.target.value)
            }
            skills.delete(event.target.value)
            parent.remove()

            storeSkills()
            return false;
        }

        // Use the data from the edit skill input textbox to overwrite a skill
        function editSkill(event) {
            skills.delete(event.target.value)
            skill = document.getElementById("skill_" + event.target.value)
            editingSkill = document.createElement("input")
            editingSkill.id = "skill_" + event.target.value
            editingSkill.className = "evidence_form_element_wide project_edit_data"
            editingSkill.type = "text"
            editingSkill.value = event.target.value
            // this original tag lets us know if the skill was an original skill and what it was
            if (skill.getAttribute("original")) {
                editingSkill.setAttribute("original", skill.getAttribute("original"))
            }
            skill.parentNode.replaceChild(editingSkill, skill)

            saveButton = document.createElement("button");
            saveButton.className = "fa fa-check each_link_save"
            saveButton.id = "save_" + event.target.value
            saveButton.value = event.target.value
            saveButton.onclick = saveSkill;

            editButton = document.getElementById("edit_" + event.target.value)

            editButton.parentNode.replaceChild(saveButton, editButton)
            return false;
        }

        // when the check button is pressed save the edited skill
        function saveSkill(event) {
            editedSkill = document.getElementById("skill_" + event.target.value)
            for (const skill of skills) {
                console.log(skill);
                //Retrieve what the value the user has edited the skill to, to compare to all other skills currently on this evidence
                if (skill.toLowerCase() == editedSkill.value.toLowerCase()) {
                    document.getElementById("skill_error").style = "color:red;";
                    return false;
                }
            }
            skills.add(editedSkill.value);

            document.getElementById("skill_error").style = "display:none;";

            let newSkill = document.createElement("button");
            newSkill.id = "skill_" + editedSkill.value
            newSkill.className = "evidence_si_tag"
            newSkill.style.fontSize = "110%"
            newSkill.width = "90% !important"
            newSkill.style.display = "inline-block"
            newSkill.innerText = editedSkill.value
            newSkill.value = editedSkill.value
            newSkill.onclick = editSkill;
            // this original tag lets us know if the skill was an original skill and what it was
            if (skill.getAttribute("original")) {
                editingSkill.setAttribute("original", skill.getAttribute("original"))
            }

            let skillDelete = document.createElement("button");
            skillDelete.className = "fa fa-trash each_link_delete"
            skillDelete.value = editedSkill.value
            skillDelete.onclick = removeSkill;

            skillDelete.id = "delete_" + editedSkill.value

            oldDelete = document.getElementById("delete_" + event.target.value)

            let editButton = document.createElement("button");
            editButton.className = "fa fa-edit each_link_edit"
            editButton.value = editedSkill.value
            editButton.id = "edit_" + editedSkill.value
            editButton.onclick = editSkill;

            oldSave = document.getElementById("save_" + event.target.value)

            // check to see if it matches the correct skill format
            if(validateSkill(editedSkill.value)) {
                document.getElementById("skill_error").style = "color:red;";
                return false;gradle
            }
            document.getElementById("skill_error").style = "display:none;";

            // Edit the skills sets by removing skill if it exists and replacing it
            // with the appropriate skill in newSkills or editedSkills
            original = editedSkill.getAttribute("original")
            if (skill.getAttribute("original")) {
                loopAndDeleteEdited(original)
                // check for edit back to original title
                if (original != editedSkill.value) {
                    editedSkills.add(original + ":" + editedSkill.value)
                }
            } else {
                newSkills.delete(event.target.value)
                newSkills.add(editedSkill.value)
            }

            // replace the new elements into the div
            oldDelete.parentNode.replaceChild(skillDelete, oldDelete)
            oldSave.parentNode.replaceChild(editButton, oldSave)
            editedSkill.parentNode.replaceChild(newSkill, editedSkill)

            storeSkills()
            canEditCheck()

            return false;
        }

        // go through the edited list and remove the skill that matches with the original skill
        function loopAndDeleteEdited(original) {
            let track;
            for (var it = editedSkills.values(), val= null; val=it.next().value; ) {
                if (val.split(":")[0] == original) {
                    track = val
                }
            }
            editedSkills.delete(track)
            return false;
        }

        // Adds the skill to the set and resets the input.
        function addSkill() {
            let newSkill = document.getElementById("add_skill_input").value
            if (newSkill.slice(-1) === " ") {
                newSkill = newSkill.slice(0, -1);
            }

            for (const skill of skills) {
                if (skill.toLowerCase() == newSkill.toLowerCase()) {
                    document.getElementById("add_skill_input").value = "";
                    return;
                }
            }


            // check to see if it matches the correct skill format
            if (validateSkill(newSkill)) {
                document.getElementById("skill_error").style = "color:red;";
                return false
            }
            document.getElementById("skill_error").style = "display:none;";

            newSkills.add(newSkill)
            if (allSkills !== null) {
                allSkills = allSkills.filter(s => s !== newSkill)
                autocomplete(document.getElementById("add_skill_input"), allSkills, "skill")
            }
            document.getElementById("add_skill_input").value = ""
            appendSkill(newSkill)
            canEditCheck();
        }

        // update the hidden inputs to return correct values to the controller
        function storeSkills() {
            let skillDeleteInput = document.getElementById("skillDeleteInput")
            let skillEditInput = document.getElementById("skillEditInput")
            let skillNewInput = document.getElementById("skillNewInput")

            const deleteList = Array.from(deletedSkills).join(' ');
            skillDeleteInput.value = deleteList
            const editList = Array.from(editedSkills).join(' ');
            skillEditInput.value = editList
            const newList = Array.from(newSkills).join(' ');
            skillNewInput.value = newList
            canEditCheck();
        }

        editedSkills = new Set()
        deletedSkills = new Set()
        newSkills = new Set()
        allSkills = [[${allSkills}]]
        allUsers = [[${allUsers}]];

        autocomplete(document.getElementById("add_skill_input"), allSkills, "skill");
        autocomplete(document.getElementById("add_user_input"), allUsers, "user");

        // set the checkboxes to have the categories from the evidence
        for (const category of [[${evidence.getCategoryStrings()}]]) {
            for (const checkbox of document.getElementById('category_multiselect_items').getElementsByTagName('input')) {
                if (checkbox.value == category) {
                    checkbox.checked = true;
                    updateCategories(checkbox)
                }
            }
        }

        //Returns the users
        function storeUsers() {
            let userStore = document.getElementById("userHidden")
            const userList = Array.from(users).join('~');
            userStore.value = userList
            canEditCheck()
        }

        // Store the javascript set of links into a hidden HTML divider,
        // which can be retrieved in Java from the linkInput ID
        // This is to transfer the frontend set of links into the backend.
        function storeLinks() {
            let linksInput = document.getElementById("linksInput")
            const linkList = Array.from(links).join(' ');
            linksInput.value = linkList
            canEditCheck()
        }

        // update the form property to contain all commit hashes
        function storeCommits() {
            let commitsStore = document.getElementById("commitsInput")
            const commitList = Array.from(commits).join('~');
            commitsStore.value = commitList
            canEditCheck()
        }

        let originalLinks = new Set()
        originalUsers = new Set()
        originalCommits = new Set()
        originalSkills = new Set()
        // wait for the page to load
        setTimeout(() => {
            // set the existing links and skills
            for (const link of [[${links}]]) {
                links.add(link)
                originalLinks.add(link)
                appendLink(link)
            }

            for (const skill of [[${skills}]]) {
                originalSkills.add(skill)
                appendSkill(skill, true)
            }

            for (const user of [[${users}]]) {
                originalUsers.add(user)
                appendUser(user, user.split(":")[1] == [[${username}]])
            }

            }, 20)

        for (const commit of [[${existingCommits}]]) {
            originalCommits.add(commit.hash)
            commits.add(commit.hash)
        }

        // Enables the save button only if something has been changed, disables it when
        // The content is set back to the original form
        function canEditCheck() {
            const originalTitle = [[${evidence.getTitle()}]];
            let originalCategory = [[${evidence.getCategoryStrings()}]].sort().toString();
            const originalDate =[[${evidence.getDate()}]].toString();
            const originalDesc = [[${evidence.getDescription()}]];
            const originalSkills = [[${skillsTitleList}]].sort().toString();


            if(originalCategory.length === 0) {
                originalCategory = "Select Categories";
            }

            const saveButton = document.getElementById("projectSave");
            const currentTitle = document.getElementById("evidence_title").value;
            const currentDate = document.getElementById("date_input").value;
            const currentCategory = (document.getElementById("evidence_category").innerText).split(', ').sort().toString();
            const currentDesc = document.getElementById("evidence_desc").value;
            const currentSkills = document.getElementById("skills_container").innerText.split('\n').sort().toString();


            // https://stackoverflow.com/questions/31128855/comparing-ecma6-sets-for-equality
            const eqSet = (xs, ys) =>
                xs.size === ys.size &&
                [...xs].every((x) => ys.has(x));

            if (
                originalTitle === currentTitle &&
                originalDate === currentDate &&
                originalDesc === currentDesc &&
                originalCategory === currentCategory &&
                originalSkills === currentSkills &&
                eqSet(originalLinks, links) &&
                eqSet(originalCommits, commits) &&
                eqSet(originalUsers, users)
            ) {
                saveButton.style = "background-color: #AAAAAA;"
                saveButton.setAttribute("disabled","disabled");

            } else {
                canSaveCheck();
            }
        }
        canEditCheck()
        </script>
    </div>
</div>
</body>
</html>