<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Sprint</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet">
</head>
<body>


<!-- Header -->
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid ms-auto">
        <div class="dropdown show">
            <a class="nav-item navbar-brand btn btn-secondary dropdown-toggle dropdown-circle" href="#" role="button" id="dropProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-fluid rounded-circle border border-primary rounded-circle" th:src="@{/profile_none.png}" width=90em height=90em alt="">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropProfile">
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </div>


        <p class="nav-item header_name">Hello User</p>

        <p class="header_date">
            Date Information Here
        </p>
    </div>
    </div>
</nav>


<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>

        <!-- Editing heading -->

        <div class="row-1">

            <div class="col-12">
                <p class="body_title_large">Edit Sprint</p>
            </div>

        </div>

        <!-- Editing body -->


        <form class="row" th:action="@{/edit-sprint}" method="post">

            <div class="col-2"></div>

            <div class="col-7 portion_body">
                <label class="project_subhead" for="sprintName">Sprint Name</label> <br/>
                <input class="project_edit_data horizontal_field" id="sprintName" type="text" th:name="sprintName" th:value="*{sprintName}">
                <br/>
                <div class="horizontal-group">
                    <div class="horizontal-group-element" >
                        <label class="project_subhead" for="sprintStartDate">Sprint Start Date</label> <br/>
                        <input class="project_edit_data" id="sprintStartDate" type="text" th:name="sprintStartDate" th:value="*{sprintStartDate}">
                    </div>
                    <div class="horizontal-group-element" >
                        <label class="project_subhead" for="sprintEndDate">Sprint End Date</label> <br/>
                        <input class="project_edit_data" id="sprintEndDate" type="text" th:name="sprintEndDate" th:value="*{sprintEndDate}">
                    </div>
                </div>
                <div>
                    <label class="project_subhead" for="sprintDescription">Sprint Description</label> <br/>
                    <textarea class="description-input project_edit_data horizontal_field bio" id="sprintDescription" th:name="sprintDescription" th:text="*{sprintDescription}"></textarea>
                </div>
            </div>

            <!-- Form Submission -->

            <div class="col-1 align-items-end">

                <button class="cancel" type="button">
                    <a class="button_a" th:href="@{'/details'}">CANCEL</a>
                </button>
                <button class="save" type="submit">SAVE</button>
            </div>


            <div class="col-2"></div>

        </form>

        <div class="row-1">
            <br><br><br>
        </div>

    </div>
</div>

<!-- JS -->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>