<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Edit Project')"></head>
<body>



<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>

        <!-- Editing heading -->

        <div class="row-1">

            <div class="col-12">
                <p class="body_title_large">Edit Project</p>
            </div>
        </div>

        <!-- Editing body -->


        <form class="row" th:action="@{edit-project}" method="post">

            <div class="col-lg-2 col-m-1 col-2"></div>

            <div class="col-lg-7 col-md-8 col-sm-12  portion_body">
                <label class="project_subhead" for="projectName">Project Name</label> <br/>
                <input class="project_edit_data horizontal_field" id="projectName" type="text" th:name="projectName" th:value="*{projectName}">
                <br/>
                <div class="horizontal-group">
                    <div class="horizontal-group-element" >
                        <label class="project_subhead" for="projectStartDate">Project Start Date</label> <br/>
                        <input class="project_edit_data" id="projectStartDate" type="date" th:name="projectStartDate" th:value="*{projectStartDate}">
                    </div>
                    <div class="horizontal-group-element" >
                        <label class="project_subhead" for="projectEndDate">Project End Date</label> <br/>
                        <input class="project_edit_data" id="projectEndDate" type="date" th:name="projectEndDate" th:value="*{projectEndDate}">
                    </div>
                </div>
                <div>
                    <label class="project_subhead" for="projectDescription">Project Description</label> <br/>
                    <textarea class="description-input project_edit_data horizontal_field bio" id="projectDescription" th:name="projectDescription" th:text="*{projectDescription}"></textarea>
                </div>

                <input style="display:none;" th:name="projectId" id="projectId" th:value="${project.getId}" type="number">

            </div>

            <!-- Form Submission -->

            <div class="col-lg-1 col-md-2 col-sm-8 col-7 align-items-end">

                <button class="cancel" type="button">
                    <a class="button_a" th:href="@{details(id=${project.getId})}">CANCEL</a>
                </button>
                <button class="save" id="projectSave" type="submit">SAVE</button>
            </div>


            <div class="col-2"></div>

        </form>
<br>
        <div class="row">

            <div class="col-2"></div>

            <div class="col-lg-7 col-md-8 col-sm-12">

                <button class="login_box "th:style="${errorShow}">
                    <p class="login_error" th:text="${errorCode}"/>
                </button>

            </div>

            <div class="col-2"></div>


        </div>

        <div class="row-1">
            <br><br><br>
        </div>

    </div>
</div>



<!-- JS -->
<script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    function sendEditStatus() {
        axios.post("/edit", null, {params:{"projectId":[[${project.getId()}]], "type":"project"}})
        setTimeout(sendEditStatus, 2000)
    }

    sendEditStatus();
</script>

</body>
</html>
