<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head.html :: head('Edit Photo')"></head>
<body>
<div th:replace="fragments/validUser.html :: navbar"></div>

<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>
        <div class="row">

            <div class="col-lg-2 col-m-1 col-2"></div>

            <div class="col-lg-7 col-md-8 col-sm-12  portion_body">
                <p class="profile_head">Edit Profile Photo</p>
                <p>Preview</p>
                <div id="preview"></div>
                <form th:action="@{/upload-photo}" method="post" enctype="multipart/form-data">
                    <input type="file" id="photo" name="filename" accept="image/*" onChange='compress()' required>
                    <input type="submit" class="save" style="width:96% !important;">
                </form>
                <span th:text="${message}"></span>
                <form action="#" th:action="@{/delete-photo}" th:method="delete">
                    <button type="submit" class="cancel" style="width:96% !important;">
                        Delete Photo
                    </button>
                </form>
                <p><span th:text="${message}"></span></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/photo-compression.js}"></script>
</body>
</html>