<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Edit Group')"></head>
<body onload="updateTitle('shortName', 10, 'maxLenShort');updateTitle('longName', 50, 'maxLen')">



<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>


        <!-- Signup Form -->
        <form class="row" th:action="@{editGroup(id=${id})}" th:object="${groupForm}" method="post">

            <div class="col-lg-2 col-m-1 col-2"></div>

            <div class="col-lg-7 col-md-8 col-sm-12 portion_body" >
                <div>
                    <label class="project_subhead" onload="updateTitle('longName', 50, 'maxLen')" >Long Name*:</label>
                    <input oninput="updateTitle('longName', 50, 'maxLen')"  class="project_edit_data horizontal_field" id="longName" type="text" th:name="longName" th:value="*{longName}" maxlength="50" title="Long Name can be a max of 50 characters" required><br/>
                    <label  class="project_inputAlertBlue" id="maxLen">Characters Remaining: 50</label>
                </div>

                <div>
                    <label class="project_subhead">Short Name*:</label>
                    <input oninput="updateTitle('shortName', 10, 'maxLenShort')" onload="updateTitle('shortName', 10, 'maxLenShort')" class="project_edit_data horizontal_field"  id="shortName" th:name="shortName" th:value="*{shortName}" maxlength="10" title="Short Name can be a max of 10 characters" required><br/>
                    <label class="project_inputAlertBlue" id="maxLenShort">Characters Remaining: 10</label>
                </div>

                <div>
                    <label class="project_subhead">Repo Alias:</label>
                    <input onKeyUp="updateCount('repoAlias', 60, 'aliasCount')" class="project_edit_data horizontal_field"  id="repoAlias" th:name="repoAlias" th:value="*{repoAlias}" maxlength="60" title="Repo alias can be a max of 60 characters"><br/>
                    <p id="aliasCount"></p>
                </div>

                <div>
                    <label class="project_subhead">Repo Owner:</label>
                    <input onKeyUp="updateCount('repoOwner', 60, 'ownerCount')" class="project_edit_data horizontal_field"  id="repoOwner" th:name="repoOwner" th:value="*{repoOwner}" maxlength="60" title="Repo owner can be a max of 60 characters"><br/>
                    <p id="ownerCount"></p>
                </div>

                <div>
                    <label class="project_subhead">Repo Name:</label>
                    <input onKeyUp="updateCount('repoName', 60, 'nameCount')" class="project_edit_data horizontal_field"  id="repoName" th:name="repoName" th:value="*{repoName}" maxlength="60" title="Repo name can be a max of 60 characters"><br/>
                    <p id="nameCount"></p>
                </div>

                <div>
                    <label class="project_subhead">Gitlab API Key:</label>
                    <input
                            onKeyUp="updateCount('apiKey', 60, 'apiKeyCount')"
                            class="project_edit_data horizontal_field"
                            id="apiKey"
                            th:name="apiKey"
                            th:value="*{apiKey}"
                            maxlength="60"
                            title="Api Key can be a max of 60 characters"
                    ><br/>
                    <p id="apiKeyCount"></p>
                </div>
            </div>

            <!-- Buttons -->
            <div class="col-lg-1 col-md-2 col-sm-8 col-7 align-items-end text-center" style="text-align:center;">

                <button class="cancel" type="button">
                    <a  class="button_a " th:href="@{group?id={id}(id=${groupId})}"><i class="fa fa-ban"></i> Cancel</a>
                </button>

                <button id="signup-button" class="save" type="submit"><i class="fa fa-save"></i> Save changes </button>

            </div>



            <div class="col-2"></div>



        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" th:src="@{js/nameLengthCheck.js}"></script>

        <br>

        <div class="row">

            <div class="col-2"></div>

            <div class="col-7 text-center ">

                <button th:if="${#fields.hasErrors('global')}" class="signup_box">
                    <p th:each="err : ${#fields.errors('global')}" th:text="${err}" />
                </button>

            </div>

            <div class="col-3"></div>


        </div>
        </form>
        <div class="row-1">
            <br><br><br>
        </div>
    </div>
</div>


<!-- JS -->
<script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{js/countCharactersRemaining.js}"></script>
<script>
    updateCount("longName", 50, "longCount")
    updateCount("shortName", 10, "shortCount")
    updateCount("aliasCount", 60, "aliasCount")
    updateCount("nameCount", 60, "nameCount")
    updateCount("ownerCount", 60, "ownerCount")
    updateCount("apiKeyCount", 60, "apiKeyCount")
</script>
</body>
</html>
