<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Evidence')">

<body>


<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>

<!-- Body -->
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">

        <div class="row-1">
            <br><br><br>
            <div class="alert-info editAlert display_data" role="alert" id="display_box"
                 th:utext="${errorMessage}"></div>
            <p class="alert-info editAlert display_data" role="alert" id="info_message_no_add_button">
            </p>

        </div>

        <!-- Portfolio heading -->

        <div class="row-1">

            <div class="col-12" style="text-align: center">
                <p class="body_title_large" id="title" th:text="${title}" ></p>
                <select id="project_selector" class="project_selector" onchange="updateProject()">
                    <option value="-1">All Projects</option>
                    <option th:each="project : ${projectList}" th:value="${project.getId()}" th:text="${project.getName()}"></option>
                </select>
            </div>

        </div>
        <!-- Portfolio body -->
        <div class="row">

            <div class="col-1"></div>
            <div class="col-lg-10 col-md-12 col-sm-12">
                <div th:replace="fragments/evidenceSearch.html :: evidenceSearch"></div>
            </div>
        </div>
        <br>
        <div class="row">


            <div class="col-1"></div>
            <div class="col-lg-10 col-md-12 col-sm-12">
                <div id="evidence_form_container"></div>
            </div>
        </div>
        <br>
        <div id="evidence_item_list"></div>
    </div>
    <div class="col-lg-2 ">


      <div class="row-1">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      </div>


      <div class="portion_body">
        <h3 class="project_subhead" style="padding-left: 0.5rem !important;padding-top: -0.5rem !important">Categories</h3>
        <a id="category_button_quantitative" class="table_text evidence_ci_tag" th:href="@{evidence(ci='Quantitative Skills')}" style="padding: 0.5rem !important;">
        Quantitative skills</a>
        <a id="category_button_qualitative" class="table_text evidence_ci_tag" th:href="@{evidence(ci='Qualitative Skills')}" style="padding: 0.5rem !important;">
        Qualitative skills</a>
        <a id="category_button_service" class="table_text evidence_ci_tag" th:href="@{evidence(ci='Service')}" style="padding: 0.5rem !important;">
        Service</a>
        <h3 class="project_subhead" style="padding-left: 0.5rem !important;">Skills</h3>
          <div id="skills_menu">
            <div th:each="skill: ${userSkills}">
              <a th:id="'skill_button_' + ${skill.getTitle()}" class="table_text evidence_si_tag" th:href="@{evidence(si=${skill.getTitle()})}" th:text="${skill.getTitleSpaced()}">
              </a>
            </div>
          </div>
      </div>

    </div>

    </div>
    <div class="row-1">
        <br><br><br>
    </div>


  </div>
</div>
    <!-- 2. End of evidence information that can be expanded or collapsed  -->

<!-- End of Evidence Section -->

<!-- JS -->
<script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:inline="javascript">

    // Set timeout for display message. From -  https://bobbyhadz.com/blog/javascript-hide-element-after-few-seconds
    setTimeout(() => {
        const box = document.getElementById('display_box');
        const displayMessageForNoAddButton = document.getElementById('info_message_no_add_button');

        // removes element from DOM
        box.style.display = 'none';
        if (displayMessageForNoAddButton !== null) {
            displayMessageForNoAddButton.style.display = 'none';
        }
        // hides element (still takes up space on page)
        // box.style.visibility = 'hidden';
    }, 10000); // time in milliseconds

    // If required fields are filled in, enable save button
    function canSaveCheck() {
        const descriptionField = document.getElementById('evidence_desc').value;
        const titleField = document.getElementById('evidence_title').value;
        const dateField = document.getElementById('date_input').value;
        const saveButton = document.getElementById('projectSave');
        if (descriptionField.length > 0 && titleField.length > 0 && dateField.length > 0) {
            saveButton.disabled = false;
            saveButton.style.backgroundColor = "#26D20F";
            if (!saveButton.classList.contains("save_hover")) {
                saveButton.className += " save_hover";
            }
        } else {
            saveButton.disabled = true;
            saveButton.style.backgroundColor = "lightgray";
            saveButton.classList.remove("save_hover");
        }
    }

</script>
<script th:inline="javascript">
  function updateProject() {
      let projectId = -1
      let userId = null
      let categoryId = null
      let skillId = null
      let paramList = window.location.search.split("&")
      paramList[0] = paramList[0].slice(1)
      for (const param of paramList) {
          switch (param.slice(0, 2)) {
              case "ui":
                  userId = parseInt(param.split("=")[1])
                  break;
              case "ci":
                  categoryId = param.split("=")[1]
                  break;
              case "si":
                  skillId = param.split("=")[1]
                  break;
              default:
                  break;
          }
      }
      projectId = parseInt(document.getElementById("project_selector").value)
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      $.post("evidence-project", {pi: projectId, ui: userId, si: urlParams.get('si'), ci: urlParams.get('ci')}).done(function (evidenceItems) {
          $("#evidence_item_list").replaceWith(evidenceItems)
          if (projectId !== -1) {
              window.history.pushState(null, '', url.toString())
              $("#evidence_form_container").load("evidence-form" + window.location.search)
          } else {
              window.history.pushState(null, '', url.toString())
              $("#evidence_form_container").replaceWith("<div id='evidence_form_container'><br><div class='row'><div class=\"col-1\"></div>" +
                  "<button class='add_evidence col-10' disabled='true' style='background-color: rgb(170, 170, 170)' id='placeholder_button'> A project must be selected to add evidence </button>" +
                  "<div class=\"col-1\"></div></div></div>")
          }
      })
  }

  function constructUrl(projectId, userId, categoryId, skillId) {
      let url = new URL(window.location.href.split("?")[0])
      if (userId != null) {
          url.searchParams.set('ui', userId.toString())
      }
      if (projectId !== -1 || null) {
          url.searchParams.set('pi', projectId.toString())
      }
      if (categoryId != null) {
          url.searchParams.set('ci', categoryId.toString())
      }
      if (skillId != null) {
          url.searchParams.set('si', skillId.toString())
      }
      return url
  }

  let existingProjectId = window.location.search.split("&").filter(q => q.includes('pi')) // Gets the query from the address, only includes those which include "pi" as a substring
  if (existingProjectId.length > 0) {
      document.getElementById("project_selector").value = existingProjectId[0].split("=")[1] // Sets the value of the project selector to the value in the query if there is one
  }
  if ([[${projectList}]].length == 1) {
      document.getElementById("project_selector").selectedIndex = 1
  }
  updateProject()
</script>
</body>
</html>
