<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Evidence')">

<body>


<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>

<!-- Body -->
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">

        <div class="row-1">
            <br><br><br>
            <div class="alert-info editAlert display_data" role="alert" id="display_box"
                 th:utext="${errorMessage}"></div>
            <p class="alert-info editAlert display_data" role="alert" id="info_message_no_add_button"
               th:if="${!showForm}">
                New evidence can be added through the project details page (this is a view only page)
            </p>

        </div>

        <!-- Portfolio heading -->

        <div class="row-1">

            <div class="col-12">
                <p class="body_title_large" id="title" th:text="${title}"></p>
            </div>

        </div>

        <!-- Portfolio body -->
        <div class="row">

            <div class="col-1"></div>
            <div class="col-lg-10 col-md-12 col-sm-12">
                <div th:replace="fragments/evidenceSearch.html :: evidenceSearch"></div>
            </div>
        </div>
        <br>
        <div class="row">


            <div class="col-1"></div>
            <div class="col-lg-10 col-md-12 col-sm-12">
                <div th:replace="${showForm} ? ~{fragments/evidenceForm.html :: evidenceForm} : ~{}"></div>
            </div>
        </div>
        <br>
        <div class="row" th:each="evidence: ${evidenceList}">

            <div class="col-1">
            </div>


            <!-- Evidence Section which includes 1. heading, 2. infom and 3. bottom -->
            <div class="col-lg-10 col-md-12 col-sm-12">

                <!-- 1. evidence heading  -->
        <div class="row-1 evidence_top" style="display:flex;">

          <div class="col-4">
          <p class="bio evidence_head" th:text="${evidence.getTitle}"/>
          </div>
          <div class="col-3.5">
            <p class="bio evidence_date" th:text="${evidence.getDate}"/>
          </div>
          <div th:id="'evidence_ci_'+${evidence.getId}" class="col-4" style="padding-top: 0.65rem; padding-left: 1rem">
          </div>
          <div class="col-0.5" >
          <a class="btn float-end" data-toggle="collapse" th:href="'#collapseExample'+${evidence.getId}" role="button" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa fa-2x fa-arrow-down alignRight" aria-hidden="true"></i>
          </a>
            </div>

        </div>

                <!-- 2. evidence information that can be expanded or collapsed  -->
                <div class="row-1">
                    <div class="collapse evidence_data no-gutters" th:id="'collapseExample'+${evidence.getId}">
                        <div>

                            <p id="description" class="sprint-description evidence_text" th:text="${evidence.getDescription}"/>

                            <p class="bio evidence_head">Skills </p>
                            <div th:id="'evidence_si_'+${evidence.getId}" style="width: 100%">
                            </div>

                            <p class="bio evidence_head" th:if="${evidence.getLinks().size() > 0}">Links </p>
                            <div th:id="'evidence_links_'+${evidence.getId}" th:if="${evidence.getLinks().size() > 0}" style="width: 100%">
                                <div class="row" th:each="link: ${evidence.getLinks()}">

                                    <div id="links_container" style="width: 85%; display: block; padding: 0.5rem 2rem">
                                        <div class="trim_text" style="display: flex">
                                            <i th:if="${link.isSecure}" class="fa fa-lock" th:id="'locked'+${link.getUrl.toString()}" aria-hidden="true" style="padding-top: 0.35rem"></i>
                                            <i th:unless="${link.isSecure}" class="fa fa-unlock" th:id="'unlocked'+${link.getUrl.toString()}" aria-hidden="true" style="padding-top: 0.35rem"></i>
                                            <a th:id="'evidence_links_text_'+${link.getUrl.toString()}"
                                               th:text="${link.getUrlWithoutProtocol}"
                                               th:href="${link.getUrl.toString()}"
                                               target="_blank"
                                               class="sprint-description display_data evidence_link trim_text"
                                               style="font-size: 110%;
                                               display: inline-block;">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <br>
                    </div>
                </div>

                <!-- 3.. evidence bottom  -->
                <div class="row-1">
                    <div class="evidence_bot">
                        <br>
                    </div>
                </div>

            </div>

    <div class="col-2">
    </div>

    <div class="col-4">

        <br>
        <br>

        </div>

      </div>
    </div>
    <div class="col-lg-2 ">


      <div class="row-1">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      </div>


      <div class="portion_body">
        <h3 class="project_subhead" style="padding-left: 0.5rem !important;padding-top: -0.5rem !important">Categories</h3>
        <a id="category_button_quantitative" class="table_text evidence_ci_tag" th:href="@{evidence(ci='Quantitative Skills')}" style="padding: 0.5rem !important;">
        Quantitative skills</a>
        <a id="category_button_qualitative" class="table_text evidence_ci_tag" th:href="@{evidence(ci='Qualitative Skills')}" style="padding: 0.5rem !important;">
        Qualitative skills</a>
        <a id="category_button_service" class="table_text evidence_ci_tag" th:href="@{evidence(ci='Service')}" style="padding: 0.5rem !important;">
        Service</a>
        <h3 class="project_subhead" style="padding-left: 0.5rem !important;">Skills</h3>
        <div th:each="skill: ${filterSkills}">
          <a th:id="'skill_button_' + ${skill.getTitle()}" class="table_text evidence_si_tag" th:href="@{evidence(si=${skill.getTitle()})}" th:text="${skill.getTitle()}">
          </a>
        </div>
      </div>

    </div>

    </div>
    <div class="row-1">
        <br><br><br>
    </div>


  </div>
</div>
                <!-- 2. End of evidence information that can be expanded or collapsed  -->

            <!-- End of Evidence Section -->

            <!-- JS -->
            <script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>
            <script type="text/javascript" th:inline="javascript">

                // Set timeout for display message. From -  https://bobbyhadz.com/blog/javascript-hide-element-after-few-seconds
                setTimeout(() => {
                    const box = document.getElementById('display_box');
                    const displayMessageForNoAddButton = document.getElementById('info_message_no_add_button');

                    // removes element from DOM
                    box.style.display = 'none';
                    displayMessageForNoAddButton.style.display = 'none';

                    // hides element (still takes up space on page)
                    // box.style.visibility = 'hidden';
                }, 10000); // time in milliseconds

                // If required fields are filled in, enable save button
                function canSaveCheck() {
                    const descriptionField = document.getElementById('evidence_desc').value;
                    const titleField = document.getElementById('evidence_title').value;
                    const dateField = document.getElementById('date_input').value;
                    var saveButton = document.getElementById('projectSave');
                    if (descriptionField.length > 0 && titleField.length > 0 && dateField.length > 0) {
                        saveButton.disabled = false;
                        saveButton.style.backgroundColor = "#26D20F";
                        if (!saveButton.classList.contains("save_hover")) {
                            saveButton.className += " save_hover";
                        }
                    } else {
                        saveButton.disabled = true;
                        saveButton.style.backgroundColor = "lightgray";
                        saveButton.classList.remove("save_hover");
                    }
                }

            </script>
            <script th:inline="javascript">

  function addTagToEvidence(value, evidenceId, type) {
    let newItem = document.createElement("button");
    newItem.className = "table_text evidence_" + type + "_tag"
    newItem.innerText = value
    newItem.value = value
    newItem.onclick = function() {window.location.href = "evidence?" + type + "=" + value}
    console.log(newItem)
    let itemRow = document.getElementById("current_row_" + type)
    itemRow.appendChild(newItem);
    if (itemRow.getBoundingClientRect().right < newItem.getBoundingClientRect().right) {
      itemRow.removeChild(newItem);
      addTagRowToEvidence(evidenceId, type)
      itemRow.appendChild(newItem);
    }
  }

  /* Creates a new row for skill tags to be placed on, for some reason inserting <br> couldn't do this*/
  function addTagRowToEvidence(evidenceId, type) {
    if (document.getElementById("current_row_" + type) !== null ) {
      document.getElementById("current_row_" + type).id = ""
    }
    let newRow = document.createElement("div");
    newRow.id = "current_row_" + type
    document.getElementById("evidence_" + type + "_" + evidenceId).appendChild(newRow)
  }




  skillMap = [[${skillMap}]]
  for (const evidence of [[${evidenceList}]]) {
    addTagRowToEvidence(evidence.id, "si")
    for (const evidenceSkill of skillMap[evidence.id]) {
      addTagToEvidence(evidenceSkill, evidence.id, "si")
    }
  }

  categoryMap = [[${categoryMap}]]
  for (const evidence of [[${evidenceList}]]) {
    addTagRowToEvidence(evidence.id, "ci")
    for (const evidenceCategory of categoryMap[evidence.id].sort()) {
      addTagToEvidence(evidenceCategory, evidence.id, "ci")
    }
  }


</script>
</body>
</html>
