<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head.html :: head('Groups')"></head>
<body>



<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="container">
    <div class="row-1">
        <br><br>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
        </div>
        <form class="col-lg-8 col-md-10 col-sm-12" th:style="${display}" th:action="@{addGroup}" method="get">
            <button class="add" type="submit">
                Add Group
            </button>
            <br>
            <br>
            <div cstyle="display:flex">
                <a th:href="${'groups?page=' + (currentPage-1)}" class="btn btn-primary align-text-left">←</a>
                Page <span class="table_text" th:text="${' ' + currentPage}"></span>
                <a th:href="${'groups?page=' + (currentPage+1)}" class="btn btn-primary align-text-left">→</a>
            </div>
        </form>
    </div>

    <div th:each="group: ${groups}">
        <br>
        <div class="row">

            <div class="col-2">
            </div>

        <!-- Groups Section -->
            <div class="col-lg-8 col-md-10 col-sm-12 portion_body" >
                <div >
                    <a class="project_a button_placement" th:href="@{group(id=${group.getId})}" >
                        <h3 class="project_subhead" th:text="${'(' + (group.shortName) + ') ' + group.longName}"/>

                    </a>
                    <br>
                    <div th:if="${role != 'student'}" class="row-1" style="display: flex">
                    <select th:if="${role == 'admin'}" th:id="${'select_field_'+group.getId()}" class="project_edit_data horizontal_field">
                        <option th:each="g : ${groups}" th:value="${g.getId()}" th:text="${'(' + (g.shortName) + ') ' + g.longName}"></option>
                    </select>
                    <select th:if="${role == 'teacher'}" th:id="${'select_field_'+group.getId()}" class="project_edit_data horizontal_field">
                    <option th:each="g : ${groups.?[longName != 'Teachers Group']}" th:value="${g.getId()}" th:text="${'(' + (g.shortName) + ') ' + g.longName}"></option>
                    </select>
                        <button th:id="${'edit_button_'+group.getId()}" disabled th:value="${group.getId()}" onclick="moveUsersToGroup(this); return false;" style="background: #AAAAAA" class="edit_button fa fa-arrow-left">&nbsp;ADD TO</button>
                        <div style="width: 50%"></div>
                        <button th:if="${group.longName != 'Members Without a Group' and group.longName != 'Teachers Group' or role == 'admin'}" disabled th:value="${group.getId()}" style="background: #AAAAAA" onclick="removeUsersFromGroup(this); return false;" th:id="${'delete_button_'+group.getId()}" class="delete_button fa fa-trash">&nbsp;REMOVE</button>
                    </div>
                    <h5
                        th:if="${!group.isDefaultGroup()}"
                        th:text="${gitlabLinkNotices.getOrDefault(group.getId, 'Repository not linked')}"
                        th:style="${ 'color: ' + gitlabLinkColors.getOrDefault(group.getId, 'black')}"
                    ></h5>
                </div>

                <!-- Modal -->
                <div class="modal fade" th:id="${'deleteModal'+group.getId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" th:text="${'Delete (' + (group.shortName) + ') ' + group.longName} + '?'"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body"
                                 th:text="${'Deleting this group will remove all members from that group (users will not be deleted). This operation cannot be undone. Are you sure you want to delete (' + (group.shortName) + ') ' + group.longName} + '?'"}></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <form th:action="@{delete-group}" method="post">
                                    <button type="submit" class="btn btn-primary bg-danger" th:name="action" >Delete</button>
                                    <input style="display: none" id="groupId" type="number" th:value="${group.getId()}" name="groupId">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div>
                    <!-- Users -->
                    <div class="user-table">
                        <table class="table activeToCtrlV" th:attr="onclick=|setLatest(${group.id})|"  th:id="${'groupUserTable' + group.shortName}">
                            <thead>
                            <tr class="justify-content-center">
                                <th class="table_head justify-content-center text-center"scope="col" >
                                    Id
                                </th>

                                <th class="table_head justify-content-center text-center"scope="col" >
                                    First Name
                                </th>
                                <th class="table_head justify-content-center text-center" scope="col">
                                    Last Name
                                </th>
                                <th class="table_head justify-content-center text-center" scope="col">
                                    Username
                                </th>
                                <th class="table_head justify-content-center text-center" scope="col">
                                    Alias
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${group.getMembers.empty}">
                                <td colspan="5"> Could not get users to list </td>
                            </tr>
                            <tr th:each="user : ${group.getMembers}">
                                <td><span class="table_text" th:text="${user.id}"> Id </span></td>
                                <td><span class="table_text" th:text="${user.firstName}"> First </span></td>
                                <td><span class="table_text" th:text="${user.lastName}"> Last </span></td>
                                <td><span class="table_text" th:text="${user.username}"> Username </span></td>
                                <td><span class="table_text" th:text="${user.nickname}"> Alias </span></td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div>

            <div class="col-2">
            </div>
                <button
                        th:style="${ group.getId() == 1 || group.getId() == 2 ?  'display: none; ' + display  : display}"
                        type="button" th:value="${group.shortName}"
                        th:id="${group.shortName}" data-toggle="modal"
                        th:data-target="${'#deleteModal'+group.getId()}" class="fa fa-trash group_delete_button"></button>
            <div class="col-4">
                <br>
                <br>
            </div>
    </div>
  </div>
</div>
</div>
</body>

<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>
<script th:inline="javascript">

/*<![CDATA[*/
let client = axios.create({baseURL: [[${baseUrl}]]});
/*]]>*/

let role = [[${role}]];
let clipboard = [[${clipboard}]];
let cutboard = [[${cutboard}]];
let selected = [];
let latest;

document.addEventListener("click", function (e) {
    if (e.target.tagName === ("DIV") || e.target.tagName  === ("BODY")) {
        clearSelected()
    }

});

function removeFromSelected(item) {
    let i = 0;
    for (const user of selected) {
        if (user[0] === item[0] && user[1] === item[1]) {
            selected.splice(i, 1);
        }
        i++;
    }
}

function setLatest(id) {
    latest = id
}

function moveUsersToGroup(event) {
    const toMove = selected.map(user => parseInt(user[1]))
    const selectedGroup = document.getElementById("select_field_"+event.value).value
    client.post("/ctrlv", toMove, {"params":{"groupId": selectedGroup}})
    setTimeout(() => window.location.reload(), 500);
}

function removeUsersFromGroup(event) {
    const toRemove = {}
    toRemove[-1] = [];
    for (const user of selected) {
        toRemove[-1].push(user[1])
        if (!(user[0] in toRemove)) {
            toRemove[user[0]] = [];
        }
        toRemove[user[0]].push(user[1])
    }
    client.post("/ctrlx", toRemove, null);
    setTimeout(() => window.location.reload(), 500);
}

// https://www.geeksforgeeks.org/how-to-detect-copy-paste-commands-ctrlv-ctrlc-using-javascript/
document.body.addEventListener("keydown", function (ev) {
    if ([[${role}]] === "student") {
        return;
    }
    // function to check the detection
    ev = ev || window.event;  // Event object 'ev'
    var key = ev.which || ev.keyCode; // Detecting keyCode

    // Detecting Ctrl
    var ctrl = ev.ctrlKey ? ev.ctrlKey : ((key === 17));

    // If key pressed is V and if ctrl is true.
    if (key === 86 && ctrl) {
        client.post("/ctrlv", clipboard, {"params":{"groupId": latest}})
        setTimeout(() => window.location.reload(), 500);
    } else if (key === 67 && ctrl) {
        clipboard = []
        for (const user of selected) {
            clipboard.push(parseInt(user[1]))
        }
    } else if (key === 88 && ctrl) {
        // When ctrl-xing users from multiple groups, multiple grpc calls are required
        // So the cutboard is a dict containing the groupIds and the userid's to delete
        cutboard = {};
        cutboard[-1] = [];
        for (const user of selected) {
            cutboard[-1].push(user[1])
            if (!(user[0] in cutboard)) {
                cutboard[user[0]] = [];
            }
            cutboard[user[0]].push(user[1])
        }
        client.post("/ctrlx", cutboard, null);
        setTimeout(() => window.location.reload(), 500);
    }

}, false);

let tables = []

function clearSelected(event) {
    selected = []
    for (const button of document.getElementsByClassName("edit_button")) {
        button.style = "background: #AAAAAA"
        button.disabled = true
    }
    for (const button of document.getElementsByClassName("delete_button")) {
        button.style = "background: #AAAAAA"
        button.disabled = true
    }
    for (const table of tables) {
        table.rows( '.selected' ).deselect();
    }
}


// Enables the move and remove buttons for the group associted with the given ID
function enableButtonsForGroup(groupId) {
    if (groupId !== 2 && (groupId !== 1 || role.toString() === 'admin')) {
        document.getElementById("delete_button_" + groupId).disabled = false
        document.getElementById("delete_button_" + groupId).style = ""
    }
    document.getElementById("edit_button_" + groupId).disabled = false
    document.getElementById("edit_button_" + groupId).style = ""
}

// Disables the move and remove buttons for the group associted with the given ID
function disableButtonsForGroup(groupId) {
    if (groupId !== 2 && (groupId !== 1 || role.toString() === 'admin')) {
        document.getElementById("delete_button_" + groupId).disabled = true
        document.getElementById("delete_button_" + groupId).style = "background: #AAAAAA"
    }
    document.getElementById("edit_button_" + groupId).disabled = true
    document.getElementById("edit_button_" + groupId).style = "background: #AAAAAA"
}

/*<![CDATA[*/

    /*[# th:each="group : ${groups}"]*/
        $(document).ready(function () {
            var table = $("#groupUserTable" + /*[[${group.shortName}]]*/).DataTable({
                select: true
            } );
            let lastChecked = null;

            tables.push(table);

            $("#groupUserTable" + /*[[${group.shortName}]]*/ + ' tbody').on('click', 'tr', function (e) {
                if ($(this).hasClass('selected') && selected.length === 1) {
                    let id = table.row(this).data()[0].substring(25);
                    let groupId = [[${group.id}]];
                    latest = groupId;
                    id = id.substring(0, id.length - 7)
                    $(this).removeClass('selected');
                    removeFromSelected([groupId, id])
                    lastChecked = null
                    disableButtonsForGroup(groupId)
                } else if (!lastChecked) {
                    // if no item has been selected before this click in this table, add the groupId and userId
                    // and register the click
                    let id = table.row(this).data()[0].substring(25);
                    let groupId = [[${group.id}]];
                    latest = groupId;
                    id = id.substring(0, id.length - 7)
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                        removeFromSelected([groupId, id])
                    }
                    else {
                        $(this).addClass('selected');
                        enableButtonsForGroup(groupId);
                        selected.push([groupId, id]);
                    }
                } else if (e.shiftKey) {
                    // if the shift key is held, while the click happens, add the users in-between
                    // the last clicked and the recently clicked
                    let start = lastChecked;
                    let end = this.rowIndex;
                    if (start > end) {
                        end = start
                        start = this.rowIndex
                    }
                    for (let i = start; i < end + 1; i++) {
                        let newThis = $(this).parent().find('tr:nth-child(' + i +')')
                        let id = table.row(newThis).data()[0].substring(25);
                        let groupId = [[${group.id}]];
                        latest = groupId;

                        id = id.substring(0, id.length - 7)
                        if (!($(newThis).hasClass('selected'))) {
                            $(newThis).addClass('selected');
                            enableButtonsForGroup(groupId);
                            selected.push([groupId, id]);
                        }
                    }
                } else if (e.ctrlKey) {
                    // if it's a regular click, add the user to the selected list
                    let id = table.row(this).data()[0].substring(25);
                    let groupId = [[${group.id}]];
                    latest = groupId;
                    id = id.substring(0, id.length - 7)
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                        removeFromSelected([groupId, id])
                        if (!selected.map(s => s[0]).includes(groupId)) {
                            disableButtonsForGroup(groupId)
                        }
                    }
                    else {
                        $(this).addClass('selected');
                        enableButtonsForGroup(groupId);
                        selected.push([groupId, id]);
                    }
                } else {
                    clearSelected();
                    let id = table.row(this).data()[0].substring(25);
                    let groupId = [[${group.id}]];
                    latest = groupId;
                    id = id.substring(0, id.length - 7)
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                        removeFromSelected([groupId, id])
                    }
                    else {
                        $(this).addClass('selected');
                        enableButtonsForGroup(groupId);
                        selected.push([groupId, id]);
                    }
                }
                lastChecked = this.rowIndex
            })
        })


    /*[/]*/
    /*]]>*/

</script>

</html>
