<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head.html :: head('Groups')"></head>
<body>



<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="container">
    <div class="row-1">
        <br><br>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
        </div>
        <form class="col-lg-8 col-md-10 col-sm-12" th:style="${display}" th:action="@{addGroup}" method="get">
            <button class="add" type="submit">
                Add Group
            </button>
            <br>
            <br>
            <div cstyle="display:flex">
                <a th:href="${'groups?page=' + (currentPage-1)}" class="btn btn-primary align-text-left">←</a>
                Page <span class="table_text" th:text="${' ' + currentPage}"></span>
                <a th:href="${'groups?page=' + (currentPage+1)}" class="btn btn-primary align-text-left">→</a>
            </div>
        </form>
    </div>

    <div th:each="group: ${groups}">
        <br>
        <div class="row">

            <div class="col-2">
            </div>

        <!-- Groups Section -->
            <div class="col-lg-8 col-md-10 col-sm-12 portion_body" >
                <div >
                    <a class="project_a button_placement" th:href="@{group(id=${group.getId})}" >
                        <h3 class="project_subhead" th:text="${'(' + (group.shortName) + ') ' + group.longName}"/>

                    </a>
                    <h5
                        th:if="${!group.isDefaultGroup()}"
                        th:text="${gitlabLinkNotices.getOrDefault(group.getId, 'Repository not linked')}"
                        th:style="${ 'color: ' + gitlabLinkColors.getOrDefault(group.getId, 'black')}"
                    ></h5>
                    <button
                            th:style="${ group.getId() == 1 || group.getId() == 2 ?  'display: none; ' + display  : display}"
                            type="button" th:value="${group.shortName}"
                            th:id="${group.shortName}" data-toggle="modal"
                            th:data-target="${'#deleteModal'+group.getId()}" class="fa fa-trash group_delete_button"
                    />
                </div>

                <!-- Modal -->
                <div class="modal fade" th:id="${'deleteModal'+group.getId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" th:text="${'Delete (' + (group.shortName) + ') ' + group.longName} + '?'"/>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body"
                                 th:text="${'Deleting this group will remove all members from that group (users will not be deleted). This operation cannot be undone. Are you sure you want to delete (' + (group.shortName) + ') ' + group.longName} + '?'"}
                            />
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <form th:action="@{/delete-group}" method="post">
                                    <button type="submit" class="btn btn-primary bg-danger" th:name="action" >Delete</button>
                                    <input style="display: none" id="groupId" type="number" th:value="${group.getId()}" name="groupId">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div>
                    <!-- Users -->
                    <div class="user-table">
                        <table class="table" th:id="${'groupUserTable' + group.shortName}">
                            <thead>
                            <tr class="justify-content-center">
                                <th class="table_head justify-content-center text-center"scope="col" >
                                    First Name
                                </th>
                                <th class="table_head justify-content-center text-center" scope="col">
                                    Last Name
                                </th>
                                <th class="table_head justify-content-center text-center" scope="col">
                                    Username
                                </th>
                                <th class="table_head justify-content-center text-center" scope="col">
                                    Alias
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${group.getMembers.empty}">
                                <td colspan="5"> Could not get users to list </td>
                            </tr>
                            <tr th:each="user : ${group.getMembers}">
                                <td><span class="table_text" th:text="${user.firstName}"> First </span></td>
                                <td><span class="table_text" th:text="${user.lastName}"> Last </span></td>
                                <td><span class="table_text" th:text="${user.username}"> Username </span></td>
                                <td><span class="table_text" th:text="${user.nickname}"> Alias </span></td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div>

            <div class="col-2">
            </div>

            <div class="col-4">
                <br>
                <br>
            </div>
    </div>
  </div>
</div>
</div>
</body>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    /*[# th:each="group : ${groups}"]*/
    $(document).ready(function () {
        var table = $('#groupUserTable' + /*[[${group.shortName}]]*/).DataTable();
        $('#groupUserTable' + /*[[${group.shortName}]]*/ + ' tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                console.log("working")
            }
            else {
                $(this).addClass('selected');
                console.log("still working")
            }
        });
    });
    /*[/]*/

    /*]]>*/

</script>

</html>
