<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Portfolio Project</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
  <link th:href="@{/css/stylesheet.css}" rel="stylesheet">

</head>
<body>


<!-- Header -->
<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid ms-auto">
    <div class="dropdown show">
      <a class="nav-item navbar-brand btn btn-secondary dropdown-toggle dropdown-circle" href="#" role="button" id="dropProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="img-fluid rounded-circle border border-primary rounded-circle" th:src="@{/profile_none.png}" width=90em height=90em alt="">
      </a>
      <div class="dropdown-menu" aria-labelledby="dropProfile">
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>


    <p class="nav-item header_name">Hello User</p>

    <p class="header_date">
      Date Information Here
    </p>
  </div>
  </div>
</nav>


<!-- Body -->
<div class="main">
  <div class="container">

    <div class="row-1">
      <br><br><br>
    </div>

    <!-- Portfolio heading -->

    <div class="row-1">

      <div class="col-12">
        <p class="body_title_large">Project Portfolio</p>
      </div>

    </div>

    <!-- Portfolio body -->

    <div class="row">

      <div class="col-2">
      </div>

      <!-- Project Section -->
      <div class="col-8 portion_body">

        <a class="project_a" href="project_page.html">
          <h3 class="project_subhead">Project 1</h3>
        </a>
        <br>
        <div class="profile_data">
          <p class="bio">Here is a fake project description page. This will contain a summary description of the project that
            will allow users to know more about the project for easy reference and to prevent accidentally clicking
            on the wrong project if the titles do not give a thorough explanation of the difference.</p>
        </div>

        <p class="project_date">Date Information Here</p>

      </div>

      <div class="col-2">


      </div>

      <div class="col-4"></div>

    </div>

    <div class="row-1">
      <br><br><br>
    </div>

  </div>
</div>


<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
