<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Sign In')"></head>
<body>



<!-- Header -->
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid ms-auto">
        <p></p>
        <p class="nav-item header_name">Login</p>
        <p></p>
    </div>
    </div>
</nav>



<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>


        <!-- Login Form -->
        <form class="row" th:action="@{login}" method="post">

            <div class="col-lg-2 col-m-1 col-2"></div>

            <div class="col-lg-7 col-md-8 col-sm-12 portion_body">

                <div class="d-inline d-inline text-danger" th:text="${loginMessage}"></div><br>

                <label class="project_subhead py-1">Username:</label>
                <input class="project_edit_data horizontal_field" id="username" type="text" th:name="username" th:value="*{username}" required><br/>

                <label class="project_subhead py-1">Password:</label>
                <input type="password" class="project_edit_data horizontal_field" id="password" th:name="password" th:value="*{password}" required><br/>

            </div>

            <!-- Form Submission -->

            <div class="col-lg-1 col-md-2 col-sm-8 col-7 align-items-end text-center" style="text-align:center;">

                <button id="login-button" class="save" type="submit">LOGIN</button>


                <button class="signup" type="button">
                    <a  class="button_a " th:href="@{signup}">SIGNUP</a>
                </button>

            </div>


            <div class="col-2"></div>

        </form>

        <br>

        <div class="row">

            <div class="col-2"></div>

            <div class="col-7 text-center ">


<!--                <p class=" portion_body_thin loginerror" th:text="${loginMessage}" /> -->


            </div>

            <div class="col-3"></div>


        </div>

        <div class="row-1">
            <br><br><br>
        </div>

    </div>
</div>

</div>

<!-- JS -->
<script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>

</body>
</html>
</html>
