<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${project.getName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/stylesheet.css}" rel="stylesheet">
    <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- For the FullCalendar to work -->
    <link th:href="@{css/fullcalendar.css}" rel="stylesheet">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>

        <!-- Editing heading -->

        <div class="row-1">

            <div class="col-12 ">
                <p class="body_title_large " id="projectTitle" th:text="${project.getName}" />
                <p class="header_project_dates" id="projectDate" th:text="'Start Date: ' + ${project.getStartDateString} + ' - ' + 'End Date: ' + ${project.getEndDateString}"/>

                <!-- Edit project button-->
                <div class="row">
                    <div class="col-2"></div>
                    <form th:action="@{landing}" method="get" th:class="${role == 'admin' || role == 'teacher'} ? 'col-lg-4 col-md-4 col-sm-12 col-12 align-items-end' : 'col-sm-12 col-12 align-items-end returnButtonCenter'">
                        <button class="edit" style="padding-top:0rem;" type="submit">
                            <i class="fa fa-arrow-left"></i>&nbsp;
                            Return
                            Return
                        </button>
                    </form>
                    <form class="col-lg-4 col-md-4 col-sm-12" th:action="@{edit-project}" method="get" th:style="${display}">
                        <input style="display:none;" th:name="id" id="id" th:value="${project.getId}" type="number">
                        <button class="edit" style="padding-top:0rem;" type="submit">
                            <i class="fa fa-edit"></i>&nbsp;
                            Edit Project
                        </button>
                    </form>
                    <div class="col-2"></div>
                </div>

                <br>
            </div>

        </div>

        <!-- Tab Buttons -->
        <ul class="nav nav-tabs h4" style="font-family: nexaBold;">
            <li id="toCalendar" class="active"><a data-toggle="tab" href="#calendar-tab" id="calendar-tab-head">Planner</a></li>
            <li id="toDetails"><a data-toggle="tab" href="#project-details-tab" id="details-tab-head">Project Details</a></li>
        </ul>
        <!-- Tab containers-->
        <div class="tab-content">
            <p class="alert-info editAlert display_data" id="editStatus"></p>
            <div id="calendar-tab" class="tab-pane fade in active">
                <br><br>

                <div id="calendar"></div>

                <br>
                <br>

                <button class="signup_box_green "th:style="${successCalendarShow}">
                    <p class="signup_error_green" th:text="${successCalendarCode}"/>
                </button>
                <button class="signup_box"th:style="${errorCalendarShow}">
                    <p class="signup_error" th:text="${errorCalendarCode}"/>
                </button>
            </div>

            <div id="project-details-tab" class="tab-pane fade">
                <br><br>

                <div class="row">

                    <!-- Add dates button -->
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-lg-8 col-md-10 col-sm-12" th:style="${display}">
                            <form th:action="@{add-dates}" method="get">
                                <input style="display:none;" th:name="projectId" id="projectId" th:value="${project.getId}" type="number">
                                <button class="add" id="addDateButton" type="submit">
                                    <i class="fa fa-plus"></i>&nbsp;
                                    Add Dates
                                </button>
                            </form>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <br>
                    <!-- Add Evidence button -->
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-lg-8 col-md-10 col-sm-12">
                            <form th:action="@{evidence}" method="get">
                                <input th:name="pi" id="pi" th:value="${project.getId}" type="number" style="display: none">
                                <input th:name="ui" id="ui" th:value="${userId}" type="number" style="display: none">
                                <button class="add" type="submit">
                                    <i class="fa fa-plus"></i>&nbsp;
                                    Add Evidence
                                </button>
                            </form>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <br>
                    <br>
                    <br>
                    <p></p>

                    <div id="sprints">
                        <!-- where to insert all the sprint details in the js method buildSprint-->
                    </div>

                    <div class="row">

                        <div class="col-2"></div>

                        <div class="col-lg-8 col-md-10 col-sm-12" >
                            </form>
                            <button class="login_box "th:style="${errorShow}">
                                <p class="login_error" th:text="${errorCode}"/>
                            </button>
                            <br><br>
                        </div>

                        <div class="col-2"></div>

                    </div>

                    <div class="row-1">
                        <br><br><br>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Javascript for the calendar -->
<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<script th:src="@{webjars/sockjs-client/sockjs.min.js}"></script>
<script src="https://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:src="@{js/get-time-bound.js}"></script>
<script th:src="@{js/project-building.js}"></script>

<script th:src="@{js/fullcalendar.js}"></script>
<script type="text/javascript" th:inline="javascript">
    canEdit = false;
    if([[${role}]] === "teacher" || [[${role}]] === "admin") {
        canEdit = true;
    }

    // this is all to make sure that the calendar re-renders once the tab is loaded
    // not before as that will cause sizing errors
    let flag = false;

    $('#calendar-tab').on('click', function (e) {
        if(!$('#toCalendar').hasClass('disabled') && flag) {
            calendarTryAgain()
            flag = false;
            displayEdits()
        }
    });

    $('#details-tab-head').on('click', function (e) {
        flag = true;
        displayEdits()
    });

    $('#toCalendar').on('click', function (e) {
        flag = false;
        displayEdits()
    });

    const colors = ['#a3c7d7', '#067d46', '#19DAFF','#f5deb3', '#d470a2', '#9acd32',
        '#a2add0', '#c9a0dc', '#9f1d35', '#e34234', '#5b92e5', '#66023c',
        '#483c32', '#0abab5', '#eee600', '#f28500', '#ffcc33', '#a7fc00',
        '#cdc9c9', '#eee9e9', '#836fff', '#473c8b', '#708090', '#c0c0c0',
        '#ffd800', '#ff2400', '#e30b5d', '#003153', '#ff5a36', '#e5e4e2',
        '#cc3333', '#1c39bb', '#1ca9c9', '#002147', '#d3af37', '#30bfbf',
        '#fdbe02', '#eaa221', '#32cd32', '#c5cbe1'];



    function resetEditStatus(message) {
        currentEdits = currentEdits.filter(item => item !== message)
        displayEdits()
    }

    let stompClient = null;
    let timeoutID;
    let currentEdits = [];
    let timeoutDict = {};

    async function connect(subTopic) {
        let stompFailureCallback = function (error) {
            console.log('STOMP: ' + error);
            setTimeout(connect(subTopic), 10000);
            console.log('STOMP: Reconnecting in 10 seconds');
        };

        let stompSuccessCallback = function () {
            // subscribe to the global topic
            stompClient.subscribe('/topic/' + subTopic + '/' + [[${project.getId()}]], function (update) {
                let updateType = JSON.parse(update.body).updateType
                if (updateType === "EDIT") {
                    let editMessage = JSON.parse(update.body).message
                    clearTimeout(timeoutDict[editMessage])
                    timeoutDict[editMessage] = setTimeout(resetEditStatus, 2500, editMessage) //Used a dictionary with the edit message as key and timeoutID as value to store timeouts
                    if (currentEdits.includes(editMessage) === false) {
                        currentEdits.push(editMessage)
                    }
                    displayEdits()
                } else {
                    if (updateType === "SPRINT") {
                        $.get("sprints", {"id":[[${project.getId()}]]})
                            .then((response) => {
                                sprintList = response.data
                                buildAll(sprintList, deadlineList, eventList, milestoneList)
                                renderCalendar(sprintList, deadlineList, eventList, milestoneList)
                            })
                    } else if (updateType === "DEADLINE") {
                        $.get("deadlines", {"id":[[${project.getId()}]]})
                            .then((response) => {
                                deadlineList = response.data
                                buildAll(sprintList, deadlineList, eventList, milestoneList)
                                renderCalendar(sprintList, deadlineList, eventList, milestoneList)
                            })
                    } else if (updateType === "EVENT") {
                        $.get("events", {"id":[[${project.getId()}]]})
                            .then((response) => {
                                eventList = response.data
                                buildAll(sprintList, deadlineList, eventList, milestoneList)
                                renderCalendar(sprintList, deadlineList, eventList, milestoneList)
                            })
                    } else if (updateType === "MILESTONE") {
                        $.get("milestones", {"id":[[${project.getId()}]]})
                            .then((response) => {
                                milestoneList = response.data
                                buildAll(sprintList, deadlineList, eventList, milestoneList)
                                renderCalendar(sprintList, deadlineList, eventList, milestoneList)
                            })
                    }
                }
            });
        }
        let socket = new SockJS([[${baseUrl}]] + '/gs-guide-websocket');
        stompClient = await Stomp.over(socket);
        // connect to the portfolio server
        stompClient.connect({}, stompSuccessCallback, stompFailureCallback);
    }

    /**
     * Displays all currently editing users and items line by line
     */
    function displayEdits() {
        let editsToDisplay = ""
        for (const edit of currentEdits) {
            editsToDisplay += "<p>" +  edit + "</p>"
        }
        document.getElementById("editStatus").innerHTML = editsToDisplay
    }

    function calendarTryAgain() {
        $.get("sprints", {"id":[[${project.getId()}]]})
            .then((response) => {
                renderCalendar(response.data, deadlineList, eventList, milestoneList)
            })
    }

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        setConnected(false);
    }

    function renderCalendar(sprintList, deadlineList, eventList, milestoneList) {
        var calendarEl = document.getElementById('calendar');

        // Gets the date project end date and format's it as Date
        var endDate = new Date([[${project.getEndDate()}]].toString());

        // Add an extra day to end date since time is set to 00:00:00
        endDate.setDate(endDate.getDate() + 1);
        let selectedEvent;

        let sprintEvents = [];

        // Colors for the sprints

        // Loops through sprint list and saves it to be displayed on the calendar
        for (var sprintIndex = 0; sprintIndex < sprintList.length; sprintIndex++) {

            var sprintEndDate = new Date(sprintList[sprintIndex].endDate.toString());
            sprintEndDate.setDate(sprintEndDate.getDate() + 1);

            // Information about each sprint
            sprintEvents.push( {
                id: sprintList[sprintIndex].id,
                title: sprintList[sprintIndex].label,
                description: sprintList[sprintIndex].description,
                start: sprintList[sprintIndex].startDate,
                allDay: canEdit,  //Can't resize from calendar view without this parameter
                end: sprintEndDate,
                durationEditable: false,
                // Mod so the sprint index doesn't go out of range for colors list
                color: colors[sprintList[sprintIndex].id % colors.length],
                borderColor: 'white'
            });


        }

        var calendar = new FullCalendar.Calendar(calendarEl, {

            eventClick: function (info) {
                if (selectedEvent) {
                    selectedEvent.setProp("durationEditable", false);
                    selectedEvent.setProp("borderColor", 'white');
                }
                info.event.setProp("durationEditable", true);
                info.event.setProp("borderColor", 'black');
                selectedEvent = info.event;
            },
            eventMouseEnter: function (info) {
                const startDate = String(info.event.start.toLocaleDateString('en-GB'));
                const endDate = String(info.event.end.toLocaleDateString('en-GB'));
                var sprintTooltip;
                if (info.event.extendedProps.description !== 'undefined') {
                    sprintTooltip = '<p class="tooltip_title">' + info.event.title + "</p>" + '<p class="tooltip_body"> Starts:' + startDate + '</p><p class="tooltip_body"> Ends:' + endDate + '</p><p class="tooltip_body">' + info.event.extendedProps.description + "</p>"
                } else {
                    sprintTooltip = '<p class="tooltip_title">' + info.event.title + "</p>" + '<p class="tooltip_body"> Starts:' + startDate + '</p><p class="tooltip_body"> Ends:' + endDate + '</p>'
                }
                $(info.el).tooltip({
                    title: sprintTooltip,
                    placement: "top",
                    trigger: "hover",
                    container: "body",
                    html: true
                });
            },
            eventDidMount: function(info) {
            },
            initialView: 'dayGridMonth',
            dayCellDidMount : function ( dayRenderInfo ) {

                var childNode = dayRenderInfo.el.firstChild;

                let tempEventList = getCalendarTimeBound(eventList, dayRenderInfo.date)

                const events = document.createElement("div")
                events.id = (dayRenderInfo.date).toString().substring(0, 16) + "eventList"
                events.innerHTML = '<i class="fa fa-star"></i>' + ' E - ' + (tempEventList.length).toString();
                let eventDayTooltip = ""
                if (tempEventList.length === 0){
                    eventDayTooltip = '<p class="tooltip_body">' + "No Events For This Day" + "</p>" + '<p class="tooltip_end"></p>'
                    events.className = "hiddenCalendar calendarDeadline"
                } else {
                    eventDayTooltip += '<p class="tooltip_title"> Events </p>'
                    for (let i = 0; i < tempEventList.length; i++) {
                        eventDayTooltip += '<p class="tooltip_body">' + (i+1).toString() + " - " + tempEventList[i].name + "</p>"
                    }
                    eventDayTooltip += '<p class="tooltip_end"></p>'

                    events.className = "calendarDeadline"
                }

                $(events).tooltip({
                    title: eventDayTooltip,
                    placement: "right",
                    trigger: "hover",
                    container: "body",
                    html: true
                });

                const deadlines = document.createElement("div")

                let tempDeadlineList = getCalendarTimeBound(deadlineList, dayRenderInfo.date)


                deadlines.id = (dayRenderInfo.date).toString().substring(0, 16) + "deadlineList"
                deadlines.innerHTML = '<i class="fa fa-calendar-o"></i>' + ' D - ' + (tempDeadlineList.length).toString();
                let deadlineDayTooltip = ""

                if (tempDeadlineList.length === 0){
                    deadlineDayTooltip = '<p class="tooltip_body">' + "No Deadlines For This Day" + "</p>" + '<p class="tooltip_end"></p>'
                    deadlines.className = "hiddenCalendar calendarDeadline"
                } else {
                    deadlineDayTooltip += '<p class="tooltip_title"> Deadlines </p>'
                    for (let i = 0; i < tempDeadlineList.length; i++) {
                        deadlineDayTooltip += '<p class="tooltip_body">' + (i+1).toString() + " - " + tempDeadlineList[i].name + "</p>"
                    }
                    deadlineDayTooltip += '<p class="tooltip_end"></p>'

                    deadlines.className = "calendarDeadline"
                }

                $(deadlines).tooltip({
                    title: deadlineDayTooltip,
                    placement: "right",
                    trigger: "hover",
                    container: "body",
                    html: true
                });

                let tempMilestoneList = getCalendarTimeBound(milestoneList, dayRenderInfo.date)

                const milestones = document.createElement("div")
                milestones.id = (dayRenderInfo.date).toString().substring(0, 16) + "milestoneList"
                milestones.innerHTML = '<i class="fa fa-flag"></i>' + ' M - ' + (tempMilestoneList.length).toString();
                let milestonesDayTooltip = ""

                if (tempMilestoneList.length === 0){
                    milestonesDayTooltip = '<p class="tooltip_body">' + "No Milestones For This Day" + "</p>" + '<p class="tooltip_end"></p>'
                    milestones.className = "hiddenCalendar calendarDeadline"
                } else {
                    milestonesDayTooltip += '<p class="tooltip_title"> Milestones </p>'
                    for (let i = 0; i < tempMilestoneList.length; i++) {
                        milestonesDayTooltip += '<p class="tooltip_body">' + (i+1).toString() + " - " + tempMilestoneList[i].name + "</p>"
                    }
                    milestonesDayTooltip += '<p class="tooltip_end"></p>'

                    milestones.className = "calendarMilestone"
                }

                $(milestones).tooltip({
                    title: milestonesDayTooltip,
                    placement: "right",
                    trigger: "hover",
                    container: "body",
                    html: true
                });

                childNode.appendChild(events)

                childNode.appendChild(deadlines)

                childNode.appendChild(milestones)
            },

            // Greys out area's not in use by the project
            validRange: {
                start: [[${project.getStartDate()}]],
                end: endDate
            },
            eventDurationEditable: true,
            eventResizableFromStart: true,
            eventOverlap: false,
            events: sprintEvents,
            displayEventTime : false,

            eventResize: function (eventResizeInfo) {
                let form = document.createElement('form'); // Creating the form which will be used to post new sprint data.
                form.setAttribute("th:action", "@{details}");
                form.setAttribute("method", "post");
                let formId = document.createElement("input"); // Adding sprint ID field to the form
                formId.setAttribute("type", "hidden");
                formId.setAttribute("th:name", "sprintId");
                formId.setAttribute("name", "sprintId");
                form.appendChild(formId);
                let formStart = document.createElement("input"); // Adding start date field to the form
                formStart.setAttribute("type", "hidden");
                formStart.setAttribute("th:name", "start");
                formStart.setAttribute("name", "start");
                form.appendChild(formStart);
                let formEnd = document.createElement("input"); // Adding end date field to the form
                formEnd.setAttribute("type", "hidden");
                formEnd.setAttribute("th:name", "end");
                formEnd.setAttribute("name", "end");
                form.appendChild(formEnd);
                form.elements["sprintId"].value = eventResizeInfo.event.id;
                form.elements["start"].value = eventResizeInfo.event.start;
                form.elements["end"].value = eventResizeInfo.event.end;
                document.body.append(form);
                form.submit() // Automatically submit form on move
            }
        });
        calendar.render();
        calendar.next();
        calendar.prev();
        return calendar
    }

    function deleteAllSprints() {
        var e = document.getElementById("sprints");

        //e.firstElementChild can be used.
        var child = e.lastElementChild;
        while (child) {
            e.removeChild(child);
            child = e.lastElementChild;
        }
    }

    function deleteAllDeadlines(id) {
        var e = document.getElementById("deadlines" + id);

        //e.firstElementChild can be used.
        var child = e.lastElementChild;
        while (child) {
            e.removeChild(child);
            child = e.lastElementChild;
        }
    }

    function deleteAllMilestones(id) {
        var e = document.getElementById("milestones" + id);

        //e.firstElementChild can be used.
        var child = e.lastElementChild;
        while (child) {
            e.removeChild(child);
            child = e.lastElementChild;
        }
    }

    function deleteAllEvents(id) {
        var e = document.getElementById("events" + id);

        //e.firstElementChild can be used.
        var child = e.lastElementChild;
        while (child) {
            e.removeChild(child);
            child = e.lastElementChild;
        }
    }

    // initial loading, base the TimeBoundItems off of thymeleaf
    // then set the calendar and the details tabs with the correct data

    let sprintList = [[${sprints}]];
    let eventList = [[${events}]];
    let milestoneList = [[${milestones}]];
    let deadlineList = [[${deadlines}]];

    // Sets the starting date for in-between sections and starting id
    let initialDate = [[${project.getStartDate()}]];
    let initialFalseId = 0.5;

    connect('calendar');

    function buildAll(sprintList, deadlineList, eventList, milestoneList) {
        deleteAllSprints();
        // Sets the starting date for in-between sections and starting id
        let initialDate = [[${project.getStartDate()}]];
        let initialFalseId = 0.5;
        let sprintNum = 1;

        for (const sprint of sprintList) {
            if (initialFalseId == 0.5) {
                buildInBetweenSprint(initialDate, sprint.startDate, initialFalseId, deadlineList, eventList, milestoneList, sprint.parentProjectId, "start")
            } else {
                buildInBetweenSprint(initialDate, sprint.startDate, initialFalseId, deadlineList, eventList, milestoneList, sprint.parentProjectId, "middle")
            }
            buildSprint(sprint, sprintNum)
            sprintNum += 1
            initialDate = sprint.endDate;
            initialFalseId += 1;

            for (const deadline of getSprintTimeBound(deadlineList, sprint.startDate, sprint.endDate)) {
                buildDeadline(deadline, sprint.id, sprint.parentProjectId)
            }

            for (const milestone of getSprintTimeBound(milestoneList, sprint.startDate, sprint.endDate)) {
                buildMilestone(milestone, sprint.id, sprint.parentProjectId)
            }

            for (const event of getSprintEvent(eventList, sprint.startDate, sprint.endDate)) {
                buildEvent(event, sprint.id, sprint.parentProjectId)
            }
        }
        buildInBetweenSprint(initialDate,[[${project.getEndDate()}]] , initialFalseId, deadlineList, eventList, milestoneList, [[${project.getId()}]], "end")
    }
    // this needs to happen to allow time for the tooltips to be imported into the js or something
    // js is gross
    setTimeout(() => {
        renderCalendar(sprintList, deadlineList, eventList, milestoneList);

        buildAll(sprintList, deadlineList, eventList, milestoneList)
    }, 20)



    /*]]>*/
</script>

<!-- This must go after to allow the tooltips -->
<script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>

</body>
</html>
