<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="top_container">
    <h1 id="heading">Project Run</h1>
    <p id="start_date"> Start Date: 03/03/2022</p>
    <p id="end_date"> End Date: 10/06/2022</p>
    <h3> Description</h3>
    <p>
        A project description is a high-level overview of why you're doing a project....
    </p>
    <hr>
</div>

<div id="sprint_container">
    <div class="current_sprint">
        <h3>Sprint 1 - Development Stage</h3>
        <p id="current_sprint_start_date"> Start Date: 13/03/2022</p>
        <p id="current_sprint_end_date"> End Date: 20/03/2022</p>
        <h3> Description</h3>
        <p>
            Development stage refers to the first phase in the life cycle of a new business...
        </p>
        <hr>
    </div>
    <div class="sprint2">
        <h3>Sprint 2 - Development Stage 2 </h3>
        <p id="sprint2_start_date"> Start Date: 21/03/2022</p>
        <p id="sprint2_end_date"> End Date: 12/04/2022</p>
        <h3> Description</h3>
        <p>
            Development stage refers to the first phase in the life cycle of a new business...
        </p>
        <hr>
    </div>
</div>
</body>
</html>
