<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head('Sign Up')"></head>
<body>
<!-- Header -->
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid ms-auto">
        <p></p>
        <p class="nav-item header_name">Sign Up</p>
        <p></p>
    </div>
    </div>
</nav>

<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>


        <!-- Signup Form -->
        <form class="row" th:action="@{signup}" method="post">

            <div class="col-lg-2 col-m-1 col-2"></div>

            <div class="col-lg-7 col-md-8 col-sm-12 portion_body">
                <div>
                    <label class="project_subhead" >Username*:</label>
                    <input class="project_edit_data horizontal_field" id="username" type="text" th:name="username" th:value="*{username}" pattern="[A-Za-z0-9]+([_'-][a-zA-Z]+)*" title="No spaces or special characters" required><br/>
                </div>


                <div>
                    <label class="project_subhead">Password*:</label>
                    <input class="project_edit_data horizontal_field"  id="password" type="password" th:name="password" th:value="*{password}" minlength="8" title="Password must be at least 8 characters" required><br/>

                </div>

                <div>

                    <label  class="project_subhead">Confirm Password*:</label>
                    <input class="project_edit_data horizontal_field"  id="passwordConfirm" type="password" th:name="passwordConfirm" th:value="*{passwordConfirm}" minlength="8" title="Password must be at least 8 characters" required><br/>

                </div>

                <div class="horizontal-group">
                    <div class="horizontal-group-element" >
                        <label class="project_subhead">First Name*:    </label>
                        <input class="project_edit_data horizontal_field" id="firstname" type="text" th:name="firstname" th:value="*{firstname}" pattern="[A-Za-z]+([ '-][a-zA-Z]+)*" title="Special characters not allowed, spaces must be surrounded by non-space characters" minlength="2" maxlength="30" required><br/>
                    </div>
                    <div class="horizontal-group-element" >
                        <label class="project_subhead">Last Name*:     </label>
                        <input class="project_edit_data horizontal_field" id="lastname" type="text" th:name="lastname" th:value="*{lastname}" pattern="[A-Za-z]+([ '-][a-zA-Z]+)*" title="Special characters not allowed, spaces must be surrounded by non-space characters" minlength="2" maxlength="30" required><br/>
                    </div>
                </div>


                <label class="project_subhead">Pronouns:</label>
                <select class="project_edit_data horizontal_field"  id="pronouns" th:name="pronouns" th:value="*{pronouns}" required>
                    <option value=" "> </option>
                    <option value="He/Him">He/Him</option>
                    <option value="She/Her">She/Her</option>
                    <option value="They/Them">They/Them</option>
                </select>

                <div>
                    <label class="project_subhead">Email Address*:</label>
                    <input class="project_edit_data horizontal_field"   id="email" type="email" th:name="email" th:value="*{email}" required><br/>
                </div>

            </div>

            <!-- Buttons -->
            <div class="col-lg-1 col-md-2 col-sm-8 col-7 align-items-end text-center" style="text-align:center;">

                <button id="signup-button" class="save" type="submit">SIGNUP</button>


                <button class="cancel" type="button">
                    <a  class="button_a " th:href="@{login}">CANCEL</a>
                </button>

            </div>



            <div class="col-2"></div>

        </form>

        <br>

        <div class="row">

            <div class="col-2"></div>

            <div class="col-7 text-center ">


                <button class="signup_box" th:style="${errorShow}">
                    <p class="signup_error" th:text="${successCode}"/>
                </button>

                <button class="signup_box_green" th:style="${successShow}">
                    <p class="signup_error_green" th:text="${successCode}"/>
                </button>


            </div>

            <div class="col-3"></div>


        </div>

        <div class="row-1">
            <br><br><br>
        </div>

    </div>
</div>

<!-- JS to check that the passwords and passwordConfirm match-->
<script>
    const password = document.getElementById("password");
    const passwordConfirm = document.getElementById("passwordConfirm");

    function checkPassword(){
        if(passwordConfirm.value !== password.value) {
            passwordConfirm.setCustomValidity("The passwords don't match");
        } else {
            passwordConfirm.setCustomValidity('');
        }
    }

    password.onchange = checkPassword;
    passwordConfirm.onkeyup = checkPassword;
</script>

<!-- JS -->
<script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>

</body>
</html>
