<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${project.getName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet">
    <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>



<!-- Header -->
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid ms-auto fluid">


        <p class="nav-item header_date fluid">
            Member Since: <br>
            <span th:text="${date}" ></span>
        </p>

        <p class="nav-item header_name"><span th:text="${username}" ></span></p>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle dropdown-circle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-fluid rounded-circle border border-primary rounded-circle" th:src="@{/profile_none.png}" width=90em height=90em alt="">
            </button>
            <ul class="dropdown-menu align-middle">
                <li><a class="dropdown-item" th:href="@{'/landing'}">Project</a></li>
                <li><a class="dropdown-item" th:href="@{'/account'}">Account</a></li>
                <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutConfirmationModal">Logout</a></li>
            </ul>
        </div>
    </div>
    </div>
</nav>



<!-- Modal -->
<div class="modal fade" id="logoutConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="logoutConfirmationModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title align-middle">Logout</span>
            </div>
            <div class="modal-body d-flex justify-content-center">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary align-baseline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary align-text-bottom">
                    <a class="button_a" th:href="@{'/logout'}">Confirm Logout</a>
                </button>
            </div>
        </div>
    </div>
</div>



<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>

        <!-- Editing heading -->

        <div class="row-1">

            <div class="col-12 ">
                <p class="body_title_large " th:text="${project.getName}" />
            </div>

        </div>

        <!-- Editing body -->


        <div class="row">

            <div class="col-2"></div>



            <div class="col-lg-8 col-md-10 col-sm-12 portion_body">


                <p class="detail_date " th:text="${project.getStartDateString} + ' - ' + ${project.getEndDateString}" />




                <div class="horizontal_field project_subtext" th:text="${project.getDescription}" />

            </div>

            <div class="col-2"></div>

        </div>

        <div class="row">

            <div class="col-2"></div>

            <!-- Buttons -->
            <div class="col-lg-8 col-md-10 col-sm-12">

                <button class="edit" style="padding-top:0rem;">
                    <a class="button_a" th:href="@{/edit-project(id=${project.getId})}">Edit Project</a>
                </button>
            </div>
            <div class="col-2"></div>

        </div>

        <br>

        <div class="row row_sprints"  th:each="sprint: ${sprints}">


                        <div class="col-2"></div>

                        <!-- Buttons -->

                        <div class="col-lg-1 col-md-2 col-sm-12 col-12 align-items-end ">


                            <div class="portion_sprintbody project_sprinthead " th:text="${sprint.getLabel}" />

                            <button class="edit">
                                <a class="button_a" th:href="@{'/edit-sprint?id=' + ${sprint.getParentProjectId} + '&ids=' + ${sprint.getId}}">EDIT</a>
                            </button>

                            <form th:action="@{/delete-sprint}" method="post">

                                <input style="display:none;" th:name="deleteprojectId" id="deleteprojectId" th:value="${project.getId}" type="number">

                                <input style="display:none;" th:name="sprintId" id="sprintId" th:value="${sprint.getId}" type="number">


                                <button class="delete delete-button ">DELETE</button>
                            </form>
                            <br>
                            <br>

                        </div>

                                <!-- Sprint info -->
                                <div class="col-lg-7 col-md-8 col-sm-12 portion_body">


                                    <div class="sprint-title project_subhead " th:text="${sprint.getName}" />

                                    <div class="sprint-date detail_date" th:text="${sprint.getStartDateString} + ' - ' + ${sprint.getEndDateString}" />

                                    <div class="sprint-description project_edit_data" th:text="${sprint.getDescription}" />

                                </div>

                                <div class="col-2"></div>


        </div>

        <div class="row">

            <div class="col-2"></div>

            <!-- Buttons -->

            <div class="col-lg-8 col-md-10 col-sm-12" >
                <form th:action="@{/new-sprint}" method="post">
                <input style="display:none;" th:name="projectId" id="projectId" th:value="${project.getId}" type="number">
                <button class="add" type="submit">
                    Add Sprint
                </button>
                </form>
                <br>
                <button class="login_box "th:style="${errorShow}">
                <p class="login_error" th:text="${errorCode}"/>
                </button>
                <button class="edit ">
                    <a class=" button_a" th:href="@{/landing}">      Return      </a>
                </button>
            </div>

            <div class="col-2"></div>

        </div>

        <div class="row-1">
            <br><br><br>
        </div>

    </div>
</div>

<!-- JS -->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
