<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${project.getName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/stylesheet.css}" rel="stylesheet">
    <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- For the FullCalendar to work -->
    <link th:href="@{css/fullcalendar.css}" rel="stylesheet">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>

        <!-- Editing heading -->

        <div class="row-1">

            <div class="col-12 ">
                <p class="body_title_large " id="projectTitle" th:text="${project.getName}" />
                <p class="header_project_dates" id="projectDate" th:text="'Start Date: ' + ${project.getStartDateString} + ' - ' + 'End Date: ' + ${project.getEndDateString}"/>

                <!-- Edit project button-->
                <div class="row">
                    <div class="col-2"></div>
                    <form class="col-lg-4 col-md-4 col-sm-12 col-12 align-items-end " th:action="@{/landing}" method="get">
                        <button class="edit" style="padding-top:0rem;" type="submit">
                            <i class="fa fa-arrow-left"></i>&nbsp;
                            Return
                        </button>
                    </form>
                    <form class="col-lg-4 col-md-4 col-sm-12" th:action="@{/edit-project}" method="get">
                        <input style="display:none;" th:name="id" id="id" th:value="${project.getId}" type="number">
                        <button class="edit" style="padding-top:0rem;" type="submit">
                            <i class="fa fa-edit"></i>&nbsp;
                            Edit Project
                        </button>
                    </form>
                    <div class="col-2"></div>
                </div>

                <br>
            </div>

        </div>

        <!-- Tab Buttons -->
        <ul class="nav nav-tabs h4" style="font-family: nexaBold;">
            <li id="toCalendar" class="active"><a data-toggle="tab" href="#calendar-tab" id="calendar-tab-head">Planner</a></li>
            <li id="toDetails"><a data-toggle="tab" href="#project-details-tab" id="details-tab-head">Project Details</a></li>
        </ul>

        <!-- Tab containers-->
        <div class="tab-content">
            <div id="calendar-tab" class="tab-pane fade in active">
                <br><br>

                <div id="calendar"></div>

                <br>
                <br>

                <button class="signup_box_green "th:style="${successCalendarShow}">
                    <p class="signup_error_green" th:text="${successCalendarCode}"/>
                </button>
                <button class="signup_box"th:style="${errorCalendarShow}">
                    <p class="signup_error" th:text="${errorCalendarCode}"/>
                </button>
            </div>

            <div id="project-details-tab" class="tab-pane fade">
                <br><br>

                <div class="row">

                    <!-- Add dates button -->
                    <div class="row">
                    <div class="col-2"></div>
                            <div class="col-lg-8 col-md-10 col-sm-12" >
                                <form th:action="@{add-dates}" method="get">
                                    <input style="display:none;" th:name="projectId" id="projectId" th:value="${project.getId}" type="number">
                                    <button class="add" id="addDateButton" type="submit">
                                        <i class="fa fa-plus"></i>&nbsp;
                                        Add Dates
                                    </button>
                                </form>
                            </div>
                        <div class="col-2"></div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <p></p>

                    <div id="sprints">
                        <!-- where to insert all the sprint details in the js method buildSprint-->
                    </div>

                    <div class="row">

                        <div class="col-2"></div>

                        <div class="col-lg-8 col-md-10 col-sm-12" >
                            </form>
                            <button class="login_box "th:style="${errorShow}">
                                <p class="login_error" th:text="${errorCode}"/>
                            </button>
                            <br><br>
                        </div>

                        <div class="col-2"></div>

                    </div>

                    <div class="row-1">
                        <br><br><br>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<!-- Javascript for the calendar -->
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" th:inline="javascript">


    // this is all to make sure that the calendar re-renders once the tab is loaded
    // not before as that will cause sizing errors
    let flag = false;

    $('#calendar-tab').on('click', function (e) {
        if(!$('#toCalendar').hasClass('disabled') && flag) {
            calendarTryAgain()
            flag = false;
        }
    });

    $('#details-tab-head').on('click', function (e) {
        flag = true;
    });

    $('#toCalendar').on('click', function (e) {
        flag = false;
    });

    const colors = ['#a3c7d7', '#067d46', '#19DAFF','#f5deb3', '#d470a2', '#9acd32',
        '#a2add0', '#c9a0dc', '#9f1d35', '#e34234', '#5b92e5', '#66023c',
        '#483c32', '#0abab5', '#eee600', '#f28500', '#ffcc33', '#a7fc00',
        '#cdc9c9', '#eee9e9', '#836fff', '#473c8b', '#708090', '#c0c0c0',
        '#ffd800', '#ff2400', '#e30b5d', '#003153', '#ff5a36', '#e5e4e2',
        '#cc3333', '#1c39bb', '#1ca9c9', '#002147', '#d3af37', '#30bfbf',
        '#fdbe02', '#eaa221', '#32cd32', '#c5cbe1'];

    // build a sprint in html from js
    function buildSprint(sprint) {
        const mainDiv = document.getElementById("sprints")
        // make the main container for all the sprints
        const sprintDiv = document.createElement("div")
        sprintDiv.id = "sprint" + sprint.id
        sprintDiv.className = "row row_sprints";
        mainDiv.appendChild(sprintDiv)

        const col2 = document.createElement("div")
        col2.className = "col-2"
        sprintDiv.appendChild(col2)

        const col1 = document.createElement("div")
        col1.className = "col-lg-1 col-md-2 col-sm-12 col-12 align-items-end "
        sprintDiv.appendChild(col1)

        const label = document.createElement("div")
        label.className = "portion_sprintbody project_sprinthead "
        label.innerText = sprint.label
        col1.appendChild(label)

        const editButton = document.createElement("button")
        editButton.className = "edit"
        col1.appendChild(editButton)

        const innerEditButton = document.createElement("a")
        innerEditButton.className = "button_a"
        innerEditButton.innerText = "EDIT"
        innerEditButton.href = "/edit-sprint?id=" + sprint.parentProjectId + "&ids=" + sprint.id
        editButton.appendChild(innerEditButton)

        const deleteForm = document.createElement("form")
        deleteForm.method = "post"
        deleteForm.action = "delete-sprint"
        col1.appendChild(deleteForm)

        const deleteProjectId = document.createElement("input")
        deleteProjectId.style = "display:none;"
        deleteProjectId.name = "deleteprojectId"
        deleteProjectId.id = "deleteprojectId"
        deleteProjectId.value = sprint.parentProjectId
        deleteProjectId.type = "number"
        deleteForm.appendChild(deleteProjectId)

        const deleteSprintId = document.createElement("input")
        deleteSprintId.style = "display:none;"
        deleteSprintId.name = "sprintId"
        deleteSprintId.id = "sprintId"
        deleteSprintId.value = sprint.id
        deleteSprintId.type = "number"
        deleteForm.appendChild(deleteSprintId)

        const deleteButton = document.createElement("button")
        deleteButton.className = "delete delete-button "
        deleteButton.innerText = "DELETE"
        deleteForm.appendChild(deleteButton)

        const br1 = document.createElement("br")
        const br2 = document.createElement("br")
        col1.appendChild(br1)
        col1.appendChild(br2)

        const col3 = document.createElement("div")
        col3.className = "col-lg-7 col-md-8 col-sm-12 portion_body"
        col3.style.border = "5px solid " + colors[sprint.id % colors.length]
        sprintDiv.appendChild(col3)

        const name = document.createElement("div")
        name.id = "sprintName"
        name.className = "sprint-title project_subhead "
        name.innerText = sprint.name
        col3.appendChild(name)

        const date = document.createElement("div")
        date.id = "sprintDate"
        date.className = "sprint-date display_data"
        date.innerText = sprint.startDateString + "-" + sprint.endDateString
        col3.appendChild(date)

        const description = document.createElement("div")
        description.id = "sprintDesc"
        description.className = "sprint-description display_data"
        description.innerText = "Description: " + sprint.description
        col3.appendChild(description)

        const deadlines = document.createElement("div")
        deadlines.className = "sprint-description display_data"
        deadlines.id = "deadlines" + sprint.id
        deadlines.innerText = "Deadlines:"
        col3.appendChild(deadlines)

        const milestones = document.createElement("div")
        milestones.className = "sprint-description display_data"
        milestones.id = "milestones" + sprint.id
        milestones.innerText = "Milestones:"
        col3.appendChild(milestones)

        const col4 = document.createElement("div")
        col4.className = "col-2"
        sprintDiv.appendChild(col4)
    }

    function buildDeadline(deadline, sprintId) {
        const mainDiv = document.getElementById("deadlines" + sprintId)
        const eachDeadline = document.createElement("form")
        const deleteDeadline = document.createElement("button")
        const editDeadline = document.createElement("button")
        const projectId = document.createElement("input")
        const deadlineId = document.createElement("input")
        projectId.style = "display:none;"
        projectId.name = "projectId"
        projectId.id = "projectId"
        projectId.value = [[${project.getId()}]]
        projectId.type = "number"

        deadlineId.style = "display:none;"
        deadlineId.name = "dateId"
        deadlineId.id = "dateId"
        deadlineId.value = deadline.id
        deadlineId.type = "number"

        editDeadline.type = "submit"
        editDeadline.className = "fa fa-edit each-deadline-edit"
        editDeadline.formMethod = "get"
        editDeadline.formAction = "edit-date"

        deleteDeadline.type = "submit"
        deleteDeadline.id = "deleteButton"
        deleteDeadline.className = "fa fa-trash each-deadline"

        eachDeadline.method = "post"
        eachDeadline.action = "delete-deadline"
        eachDeadline.innerText = deadline.name
        eachDeadline.className = "posAbsolute"

        const deadlineDate = String(deadline.startDate).substring(0,10);
        const deadlineTime = String(deadline.startDate).substring(11);
        var deadlineTooltip;
        if (deadline.description !== 'undefined') {
            deadlineTooltip = '<p class="tooltip_title">' + deadline.name.substring(0,25) + "</p>" + '<p class="tooltip_body">Due: ' + deadlineDate + '</p> <p class="tooltip_body">' + "At: " + deadlineTime + '</p> <p class="tooltip_body">' + deadline.description + "</p>"
        } else {
            deadlineTooltip = '<p class="tooltip_title">' + deadline.name.substring(0,25) + "</p>" + '<p class="tooltip_body">Due: ' + deadlineDate + '</p> <p class="tooltip_body">' + "At: " + deadlineTime + '</p>'
        }

        $(eachDeadline).tooltip({
                    title: deadlineTooltip,
                    placement: "right",
                    trigger: "hover",
                    container: "body",
                    html: true,
                });

        mainDiv.appendChild(eachDeadline)
        eachDeadline.appendChild(projectId)
        eachDeadline.appendChild(deadlineId)
        eachDeadline.appendChild(editDeadline)
        eachDeadline.appendChild(deleteDeadline)
    }


    function buildMilestone(milestone, sprintId) {
        const mainDiv = document.getElementById("milestones" + sprintId)
        const eachMilestone = document.createElement("form")
        const deleteMilestone = document.createElement("button")
        const projectId = document.createElement("input")
        const milestoneId = document.createElement("input")
        projectId.style = "display:none;"
        projectId.name = "projectId"
        projectId.id = "projectId"
        projectId.value = [[${project.getId()}]]
        projectId.type = "number"

        milestoneId.style = "display:none;"
        milestoneId.name = "milestoneId"
        milestoneId.id = "milestoneId"
        milestoneId.value = milestone.id
        milestoneId.type = "number"

        deleteMilestone.type = "submit"
        deleteMilestone.id = "deleteButton"
        deleteMilestone.className = "fa fa-trash each-milestone"

        eachMilestone.method = "post"
        eachMilestone.action = "delete-milestone"
        eachMilestone.innerText = milestone.name
        eachMilestone.className = "posAbsolute"

        const milestoneDate = String(milestone.startDate).substring(0,10);
        var milestoneToolTip;
        if (milestone.description !== undefined) {
            milestoneToolTip = '<p class="tooltip_title">' + milestone.name.substring(0,25) + "</p>" + '<p class="tooltip_body">By: ' + milestoneDate + '</p> <p class="tooltip_body">' + milestone.description + "</p>"
        } else {
            milestoneToolTip = '<p class="tooltip_title">' + milestone.name.substring(0,25) + "</p>" + '<p class="tooltip_body">By: ' + milestoneDate + '</p>'
        }

        $(eachMilestone).tooltip({
                    title: milestoneToolTip,
                    placement: "right",
                    trigger: "hover",
                    container: "body",
                    html: true
                });

        mainDiv.appendChild(eachMilestone)
        eachMilestone.appendChild(projectId)
        eachMilestone.appendChild(milestoneId)
        eachMilestone.appendChild(deleteMilestone)
    }

    var stompClient = null;

    function connect() {
        var socket = new SockJS('/gs-guide-websocket');
        stompClient = Stomp.over(socket);
        // connect to the portfolio server
        stompClient.connect({}, function (frame) {
            // subscribe to the global topic
            stompClient.subscribe('/topic/calendar/'+[[${project.getId()}]], function (update) {
                // if it is a sprint update, update the calendar and details sprints
                if (JSON.parse(update.body).updateType == "SPRINT") {
                    axios.get("/sprints", {params:{"id":[[${project.getId()}]]}})
                    .then((response) => {
                        deleteAllSprints()
                        for (const sprint of response.data) {
                            buildSprint(sprint)
                            axios.get("/deadlines", {params:{"id":[[${project.getId()}]], "sprintId":sprint.id}})
                            .then((response) => {
                                for (const deadline of response.data) {
                                    buildDeadline(deadline, sprint.id)
                                }
                            })
                            axios.get("/milestones", {params:{"id":[[${project.getId()}]], "sprintId":sprint.id}})
                            .then((response) => {
                                for (const milestone of response.data) {
                                    buildMilestone(milestone, sprint.id)
                                }
                            })
                        }
                        renderCalendar(response.data)
                    })
                }

                if (JSON.parse(update.body).updateType == "DEADLINE") {
                    axios.get("/deadlines", {params:{"id":[[${project.getId()}]], "sprintId":JSON.parse(update.body).sprintId}})
                        .then((response) => {
                            deleteAllDeadlines(JSON.parse(update.body).sprintId)
                            for (const deadline of response.data) {
                                buildDeadline(deadline, JSON.parse(update.body).sprintId)
                            }
                        })
                }

                if (JSON.parse(update.body).updateType == "MILESTONE") {
                    axios.get("/milestones", {params:{"id":[[${project.getId()}]], "sprintId":JSON.parse(update.body).sprintId}})
                        .then((response) => {

                            deleteAllMilestones(JSON.parse(update.body).sprintId)
                            for (const milestone of response.data) {
                                buildMilestone(milestone, JSON.parse(update.body).sprintId)
                            }
                        })
                }
            });
        });
    }

   function calendarTryAgain() {
        axios.get("/sprints", {params:{"id":[[${project.getId()}]]}})
            .then((response) => {
                renderCalendar(response.data)
            })
    }

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function renderCalendar(sprintList) {
        var calendarEl = document.getElementById('calendar');

        // Gets the date project end date and format's it as Date
        var endDate = new Date([[${project.getEndDate()}]].toString());

        // Add an extra day to end date since time is set to 00:00:00
        endDate.setDate(endDate.getDate() + 1);
        let selectedEvent;

        let sprintEvents = [];

        // Colors for the sprints

        // Loops through sprint list and saves it to be displayed on the calendar
        for (var sprintIndex = 0; sprintIndex < sprintList.length; sprintIndex++) {

            var sprintEndDate = new Date(sprintList[sprintIndex].endDate.toString());
            sprintEndDate.setDate(sprintEndDate.getDate() + 1);

            // Information about each sprint
            sprintEvents.push( {
                id: sprintList[sprintIndex].id,
                title: sprintList[sprintIndex].label,
                description: sprintList[sprintIndex].description,
                start: sprintList[sprintIndex].startDate,
                allDay: true,  //Can't resize from calendar view without this parameter
                end: sprintEndDate,
                durationEditable: false,
                // Mod so the sprint index doesn't go out of range for colors list
                color: colors[sprintList[sprintIndex].id % colors.length],
                borderColor: 'white'
            });
        }

        var calendar = new FullCalendar.Calendar(calendarEl, {
            eventClick: function (info) {
                if (selectedEvent) {
                    selectedEvent.setProp("durationEditable", false);
                    selectedEvent.setProp("borderColor", 'white');
                }
                info.event.setProp("durationEditable", true);
                info.event.setProp("borderColor", 'black');
                selectedEvent = info.event;
            },
            eventMouseEnter: function (info) {
                const startDate = String(info.event.start.toLocaleDateString('en-GB'));
                const endDate = String(info.event.end.toLocaleDateString('en-GB'));
                var sprintTooltip;
                if (info.event.extendedProps.description !== 'undefined') {
                    sprintTooltip = '<p class="tooltip_title">' + info.event.title + "</p>" + '<p class="tooltip_body"> Starts:' + startDate + '</p><p class="tooltip_body"> Ends:' + endDate + '</p><p class="tooltip_body">' + info.event.extendedProps.description + "</p>"
                } else {
                    sprintTooltip = '<p class="tooltip_title">' + info.event.title + "</p>" + '<p class="tooltip_body"> Starts:' + startDate + '</p><p class="tooltip_body"> Ends:' + endDate + '</p>'
                }
                $(info.el).tooltip({
                    title: sprintTooltip,
                    placement: "top",
                    trigger: "hover",
                    container: "body",
                    html: true
                });
            },
            initialView: 'dayGridMonth',

            // Greys out area's not in use by the project
            validRange: {
                start: [[${project.getStartDate()}]],
                end: endDate
            },
            eventDurationEditable: true,
            eventResizableFromStart: true,
            eventOverlap: false,
            events: sprintEvents,
            displayEventTime : false,

            eventResize: function (eventResizeInfo) {
                let form = document.createElement('form'); // Creating the form which will be used to post new sprint data.
                form.setAttribute("th:action", "@{/details}");
                form.setAttribute("method", "post");
                let formId = document.createElement("input"); // Adding sprint ID field to the form
                formId.setAttribute("type", "hidden");
                formId.setAttribute("th:name", "sprintId");
                formId.setAttribute("name", "sprintId");
                form.appendChild(formId);
                let formStart = document.createElement("input"); // Adding start date field to the form
                formStart.setAttribute("type", "hidden");
                formStart.setAttribute("th:name", "start");
                formStart.setAttribute("name", "start");
                form.appendChild(formStart);
                let formEnd = document.createElement("input"); // Adding end date field to the form
                formEnd.setAttribute("type", "hidden");
                formEnd.setAttribute("th:name", "end");
                formEnd.setAttribute("name", "end");
                form.appendChild(formEnd);
                form.elements["sprintId"].value = eventResizeInfo.event.id;
                form.elements["start"].value = eventResizeInfo.event.start;
                form.elements["end"].value = eventResizeInfo.event.end;
                document.body.append(form);
                form.submit() // Automatically submit form on move
            }
        });
        calendar.render();
        return calendar
    }

    function deleteAllSprints() {
        var e = document.getElementById("sprints");

        //e.firstElementChild can be used.
        var child = e.lastElementChild;
        while (child) {
            e.removeChild(child);
            child = e.lastElementChild;
        }
    }

    function deleteAllDeadlines(id) {
        var e = document.getElementById("deadlines" + id);

        //e.firstElementChild can be used.
        var child = e.lastElementChild;
        while (child) {
            e.removeChild(child);
            child = e.lastElementChild;
        }
    }

    function deleteAllMilestones(id) {
        var e = document.getElementById("milestones" + id);

        //e.firstElementChild can be used.
        var child = e.lastElementChild;
        while (child) {
            e.removeChild(child);
            child = e.lastElementChild;
        }
    }

    // initial loading, base the sprints off of thymeleaf
    // then set the calendar and the details tabs with the correct data
    let initialSprintList = [[${sprints}]];

    for (const sprint of initialSprintList) {
        buildSprint(sprint)
        axios.get("/deadlines", {params:{"id":[[${project.getId()}]], "sprintId":sprint.id}})
            .then((response) => {
                for (const deadline of response.data) {
                    this.sprint = sprint
                    buildDeadline(deadline, sprint.id)
                }
            })
        axios.get("/milestones", {params:{"id":[[${project.getId()}]], "sprintId":sprint.id}})
            .then((response) => {
                for (const milestone of response.data) {
                    this.sprint = sprint
                    buildMilestone(milestone, sprint.id)
                }
            })
    }

    document.addEventListener('DOMContentLoaded', function() { renderCalendar(initialSprintList) });

    connect();

</script>

<!-- JS -->
<script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>
<!-- JS file for FullCalendar -->
<script th:src="@{js/fullcalendar.js}"></script>
</body>
</html>
