<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${project.getName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet">
</head>
<body>


<!-- Header -->
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid ms-auto">
        <div class="dropdown show">
            <a class="nav-item navbar-brand btn btn-secondary dropdown-toggle dropdown-circle" href="#" role="button" id="dropProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-fluid rounded-circle border border-primary rounded-circle" th:src="@{/profile_none.png}" width=90em height=90em alt="">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropProfile">
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </div>


        <p class="nav-item header_name">Hello User</p>

        <p class="header_date">
            Date Information Here
        </p>
    </div>
    </div>
</nav>


<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>

        <!-- Editing heading -->

        <div class="row-1">

            <div class="col-12 ">
                <p class="body_title_large " th:text="${project.getName}" />
            </div>

        </div>

        <!-- Editing body -->


        <div class="row">

            <div class="col-2"></div>



            <div class="col-lg-8 col-md-10 col-sm-12 portion_body">


                <p class="detail_date " th:text="${project.getStartDateString} + ' - ' + ${project.getEndDateString}" />




                <div class="horizontal_field project_subtext" th:text="${project.getDescription}" />

            </div>

            <div class="col-2"></div>

        </div>

        <div class="row">

            <div class="col-2"></div>

            <!-- Buttons -->
            <div class="col-lg-8 col-md-10 col-sm-12">

                <button class="edit" style="padding-top:0rem;">
                    <a class="button_a" th:href="@{'/edit-project'}">Edit Sprint</a>
                </button>
            </div>
            <div class="col-2"></div>

        </div>

        <br>

        <div class="row row_sprints"  th:each="sprint: ${sprints}">


            <div class="col-2"></div>

            <!-- Buttons -->

            <div class="col-lg-1 col-md-2 col-sm-12 col-12 align-items-end ">


                <div class="portion_sprintbody project_sprinthead " th:text="${sprint.getLabel}" />



                <button class="edit">
                    <a class="button_a" th:href="@{'/edit-sprint?label=' + ${sprint.getLabel}}">EDIT</a>
                </button>

                <button class="delete delete-button ">DELETE</button>

                <br>
                <br>

            </div>

            <!-- Sprint info -->
            <div class="col-lg-7 col-md-8 col-sm-12 portion_body">

                <div class="sprint-title project_subhead " th:text="${sprint.getName}" />
                <div class="sprint-date detail_date" th:text="${sprint.getStartDateString} + ' - ' + ${sprint.getEndDateString}" />
                <div class="sprint-description project_edit_data" th:text="${sprint.getDescription}" />

            </div>

            <div class="col-2"></div>

        </div>


        <div class="row">

            <div class="col-2"></div>

            <!-- Buttons -->

            <div class="col-lg-8 col-md-10 col-sm-12">
                <button class="add">
                    Add Sprint
                </button>
            </div>

            <div class="col-2"></div>

        </div>

        <div class="row-1">
            <br><br><br>
        </div>

    </div>
</div>

<!-- JS -->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>