<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet">

     <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>



<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="container">

    <div class="row-1">
        <br><br><br>
    </div>

    <!-- Users -->
    <div class="user-table">
        <!-- Send a forward or backward call to the page -->
        <a href="user-list?move=back" class="btn btn-primary align-text-left">←</a>
        <a href="user-list?move=forward" class="btn btn-primary align-text-left">→</a>

        <span th:text="${start}"></span> - <span th:text="${start + 50}"></span>

        <br>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="table_head justify-content-center" scope="col" > <form  th:action="@{/order-list(sortColumn=${'first_name'})}" method="post" ><button class="table_button" type="input">First Name</button></form></th>
                    <th class="table_head justify-content-center" scope="col"> <form  th:action="@{/order-list(sortColumn=${'last_name'})}" method="post" ><button class="table_button" type="input">Last Name</button></form> </th>
                    <th class="table_head justify-content-center" scope="col"> <form  th:action="@{/order-list(sortColumn=${'username'})}" method="post" ><button class="table_button" type="input">Username</button></form> </th>
                    <th class="table_head justify-content-center" scope="col"> <form  th:action="@{/order-list(sortColumn=${'nickname'})}" method="post" ><button class="table_button" type="input">Alias</button></form> </th>
                    <th class="table_head justify-content-center" scope="col"> <form  th:action="@{/order-list(sortColumn=${'roles'})}" method="post" ><button class="table_button" type="input">Roles</button></form> </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${users.empty}">
                    <td colspan="5"> Could not get users to list </td>
                </tr>
                <tr th:each="user : ${users}">
                    <td><span class="table_text" th:text="${user.firstName}"> First </span></td>
                    <td><span class="table_text" th:text="${user.lastName}"> Last </span></td>
                    <td><span class="table_text" th:text="${user.username}"> Username </span></td>
                    <td><span class="table_text" th:text="${user.nickname}"> Alias </span></td>
                    <td>
                        <div class="user_role_table" th:each="role : ${user.listRoles()}">
                            <span class="table_text" th:text="${role.toUpperCase()}">Roles</span> <form  style="display:inline;" th:action="@{/delete-role(roleDelete=${role},userId=${user.username})}" method="post" ><button class="table_text button_none">&#x2716</button></form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>