<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head.html :: head('Users')"></head>
<body>



<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="container">

    <div class="row-1">
        <br><br><br>
    </div>

    <!-- Users -->
    <div class="user-table">
        <!-- Send a forward or backward call to the page -->
        <a href="user-list?move=back" class="btn btn-primary align-text-left">←</a>
        <a href="user-list?move=forward" class="btn btn-primary align-text-left">→</a>

        <span class="table_text" th:text="${start}"></span> - <span class="table_text"  th:text="${start + 50}"></span>

        <br>
        <br>

        <table class="table table-striped">
            <thead>
                <tr class="justify-content-center">
                    <th class="table_head justify-content-center text-center" th:style="${firstNameShow}" scope="col" >
                        <form  class="form-inline" th:action="@{order-list(sortColumn=${'first_name'})}" method="post" ><button class="table_button" type="input">First Name
                            <p class="table_text_arrow" th:style="${firstNameUp}"> &#x25B2 </p><p class="table_text_arrow" th:style="${firstNameDown}"> &#x25BC </p>
                        </button></form>
                    </th>
                    <th class="table_head justify-content-center text-center" th:style="${lastNameShow}" scope="col">
                        <form class="form-inline"  th:action="@{order-list(sortColumn=${'last_name'})}" method="post" ><button class="table_button" type="input">Last Name
                            <p class="table_text_arrow" th:style="${lastNameUp}"> &#x25B2 </p><p class="table_text_arrow" th:style="${lastNameDown}"> &#x25BC </p>
                        </button></form>
                    </th>
                    <th class="table_head justify-content-center text-center" th:style="${usernameShow}"  scope="col">
                        <form  class="form-inline" th:action="@{order-list(sortColumn=${'username'})}" method="post" ><button class="table_button" type="input">Username
                            <p class="table_text_arrow" th:style="${usernameUp}"> &#x25B2 </p><p class="table_text_arrow" th:style="${usernameDown}"> &#x25BC </p>
                        </button></form>
                    </th>
                    <th class="table_head justify-content-center text-center" th:style="${nicknameShow}" scope="col">
                        <form class="form-inline"  th:action="@{order-list(sortColumn=${'nickname'})}" method="post" ><button class="table_button" type="input">Alias
                            <p class="table_text_arrow" th:style="${nicknameUp}"> &#x25B2 </p><p class="table_text_arrow" th:style="${nicknameDown}"> &#x25BC </p>
                        </button></form>
                    </th>
                    <th class="table_head justify-content-center text-center" th:style="${rolesShow}" scope="col">
                        <form  class="form-inline" th:action="@{order-list(sortColumn=${'roles'})}" method="post" ><button class="table_button" type="input">Roles
                            <p class="table_text_arrow" th:style="${rolesUp}"> &#x25B2 </p><p class="table_text_arrow" th:style="${rolesDown}"> &#x25BC </p>
                        </button></form>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${users.empty}">
                    <td colspan="5"> Could not get users to list </td>
                </tr>
                <tr th:each="user : ${users}">
                    <td><span class="table_text" th:text="${user.firstName}"> First </span></td>
                    <td><span class="table_text" th:text="${user.lastName}"> Last </span></td>
                    <td><span class="table_text" th:text="${user.username}"> Username </span></td>
                    <td><span class="table_text" th:text="${user.nickname}"> Alias </span></td>
                    <td>
                        <div class="user_role_table" th:each="role : ${user.listRoles()}">
                            <span class="table_text" th:text="${role.toUpperCase()}">Roles</span>
                            <form  style="display:inline;" th:if="${userRole == 'teacher' || userRole == 'admin'}"
                                   th:action="@{delete-role(roleDelete=${role}, username=${user.username})}"
                                   method="post" >
                                <button class="table_text button_none">&#x2716</button>
                            </form>
                        </div>
                        <div class="user_role_table btn-group d-md-none m-1 user_button" th:if="${userRole == 'teacher' || userRole == 'admin'}">
                            <button class="table_text button_none "
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    data-boundary="window"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <span>&#x1F7A7</span>
                            </button>
                            <div class="dropdown-menu ">
                                <a href="#" class="dropdown-item table_text" th:if="${not user.listRoles().contains('student')}">
                                    <form style="display:inline;" th:action="@{add-role(roleAdd=${'student'},username=${user.username})}" method="post" ><button class="table_text button_none">Add Student</button></form>
                                </a>
                                <a href="#" class="dropdown-item table_text" th:if="${not user.listRoles().contains('teacher')}">
                                    <form style="display:inline;" th:action="@{add-role(roleAdd=${'teacher'},username=${user.username})}" method="post" ><button class="table_text button_none">Add Teacher</button></form>
                                </a>
                                <a href="#" class="dropdown-item table_text" th:if="${not user.listRoles().contains('admin')}">
                                    <form style="display:inline;" th:action="@{add-role(roleAdd=${'course_administrator'},username=${user.username})}" method="post" ><button class="table_text button_none">Add Admin</button></form>
                                </a>
                                <div style="text-decoration: none; padding: 10px 10px 10px 10px;"
                                   th:if="${user.listRoles().contains('teacher') and
                                            user.listRoles().contains('student') and
                                            user.listRoles().contains('admin')}">
                                    All possible roles are added already, no more choices to add.
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
