<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet">

     <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>



<!-- Navigation Bar -->
<div th:replace="fragments/validUser.html :: navbar"></div>



<!-- Body -->
<div class="container">

    <div class="row-1">
        <br><br><br>
    </div>

    <!-- Users -->

    <div class="user-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="table_head justify-content-center" scope="col" > <form  th:action="@{/order-list(sortColumn=${0})}" method="post" ><button class="table_button" type="input">First Name</button></form></th>
                    <th class="table_head justify-content-center" scope="col"> <form  th:action="@{/order-list(sortColumn=${1})}" method="post" ><button class="table_button" type="input">Last Name</button></form> </th>
                    <th class="table_head justify-content-center" scope="col"> <form  th:action="@{/order-list(sortColumn=${2})}" method="post" ><button class="table_button" type="input">Username</button></form> </th>
                    <th class="table_head justify-content-center" scope="col"> <form  th:action="@{/order-list(sortColumn=${3})}" method="post" ><button class="table_button" type="input">Alias</button></form> </th>
                    <th class="table_head justify-content-center" scope="col"> <form  th:action="@{/order-list(sortColumn=${4})}" method="post" ><button class="table_button" type="input">Roles</button></form> </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${users.empty}">
                    <td colspan="5"> Could not get users to list </td>
                </tr>
                <tr th:each="user : ${users}">
                    <td><span class="table_text" th:text="${user.firstName}"> First </span></td>
                    <td><span class="table_text" th:text="${user.lastName}"> Last </span></td>
                    <td><span class="table_text" th:text="${user.username}"> Username </span></td>
                    <td><span class="table_text" th:text="${user.nickname}"> Alias </span></td>
                    <td><span class="table_text" th:text="${user.roles()}"> Roles </span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>