<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${project.getName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet">
    <!-- For dropdown to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>



<!-- Header -->
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid ms-auto fluid">


        <p class="nav-item header_date fluid">
            Member Since: <span th:text="${date}" ></span>
        </p>

        <p class="nav-item header_name"><span th:text="${username}" ></span></p>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle dropdown-circle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-fluid rounded-circle border border-primary rounded-circle" th:src="@{/profile_none.png}" width=90em height=90em alt="">
            </button>
            <ul class="dropdown-menu align-middle">
                <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutConfirmationModal">Logout</a></li>
            </ul>
        </div>
    </div>
    </div>
</nav>



<!-- Body -->
<div class="main">
    <div class="container">

        <div class="row-1">
            <br><br><br>
        </div>

        <!-- Editing heading -->

        <div class="row-1">

            <div class="col-12 ">
                <p class="body_title_large " th:text="${project.getName}" />
            </div>

        </div>

        <!-- Editing body -->


        <div class="row">

            <div class="col-2"></div>

            <div class="col-8 portion_body">


                <p class="detail_date " th:text="${project.getStartDateString} + ' - ' + ${project.getEndDateString}" />


                <div class="horizontal_field project_subtext" th:text="${project.getDescription}" />

            </div>

            <div class="col-2"></div>

        </div>

        <br>

        <div class="row row_sprints"  th:each="sprint: ${sprints}">


            <div class="col-2"></div>


            <div class="col-lg-1 col-md-2 col-sm-12 col-12 ">
            <div class="portion_sprintbody project_sprinthead " th:text="${sprint.getLabel}" />

                <br>
            </div>

                <div class="col-lg-7 col-md-8 col-sm-12 portion_body">


                        <div class="sprint-title project_subhead " th:text="${sprint.getName}" />
                        <div class="sprint-date detail_date" th:text="${sprint.getStartDateString} + ' - ' + ${sprint.getEndDateString}" />
                        <div class="sprint-description project_edit_data" th:text="${sprint.getDescription}" />


                </div>



            <div class="col-2"></div>



        </div>

        <div class="row-1">
            <br>

            <button class="edit ">
                <a class=" button_a" th:href="@{/landing}">      Return      </a>
            </button>
        </div>
        <div class="row-1">

            <br><br><br>
        </div>

    </div>
</div>

<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>